<div class="section-head"><h3 class="text-center">INTRODUCTION</h3></div>
<br>
<ul>
    <li>Your family member has a serious traumatic brain injury (TBI) and has been in the Intensive Care Unit (ICU) for
        several days.
    <li>Your family member can’t make decisions about his or her medical care.
    <li>The doctor needs to know soon the goals that should be considered when treating your family member.
    <li>Your family member needs your help in deciding which goals to pursue during treatment. This is known as the
        <b>“goals
            of care” decision</b>.
    <li>This is one of the <b>most important decisions</b> to be made in your family member’s medical care.
</ul>


<div class="section-head"><h3 class="text-center">THIS DECISION AID IS DESIGNED TO HELP YOU</h3></div>
<br>
<ul>
    <li>Making a decision about your family member’s “goals of care” is difficult for most families; that’s normal.
    <li>For that reason, we have created this tool (decision aid) to help you.
    <li>It will help you understand what is involved in the decision and the choices available to you, so that you can
        make the best decision for your family member.
    <li>This decision aid was created with input from people like you who had to make this decision for their loved
        ones.
    <li><b>Remember: this tool will <i>not</i> replace a meeting with the doctor.</b>
    <li>This tool will help you when you talk to the doctor about the decision facing you and the choices available.
</ul>
<br>
<ol>
    <li><b>Completing this decision aid will take about 30 minutes.</b> You can take breaks if needed.
    <li><u><b>Please read every page.</b></u>
    <li><u><b>Please fill out the worksheet (page 17)</b></u>. This will help you when you talk with the doctor.
    <li><b>Bring the completed worksheet to the meeting with the doctor.</b>

</ol>
