<!--the head of this page-->
<div class="section-head"><h3 class="text-center">WHEN SURVIVAL IS THE GOAL OF CARE</h3></div>
<br>
<!--the paragraph in this page-->
<ul>
    <li>
        Doctors and nurses will do whatever it takes to keep a person alive.
    </li>
    <li>
        Patients will require additional procedures to improve their chances of survival.
    </li>
</ul>
<u><p>Patients usually need these two procedures:</p></u>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a onclick="click1()" data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                   id="block1">
                    {% if session['accordion1'] == True %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" id="check1"
                          style="display: none;"></span>
                    {% endif %}
                    1. Tracheostomy (“trach”)</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <p style="font-family: Arial, Times, serif; font-size: medium">
                <p>
                    For the first days after a major TBI, patients are not able to breathe on their own. They depend on
                    a breathing tube placed through the mouth and hooked up to the ventilator. If patients are still
                    unable to breathe on their own after several days, a procedure called a <b>tracheostomy</b> is done
                    to
                    avoid serious long-term damage to the windpipe.
                </p>
                <p>
                    During a <b>tracheostomy</b>, a surgeon makes a hole in the front of the patient’s neck, allowing
                    direct
                    access to the windpipe. A shorter tube is placed through the hole, and the ventilator is hooked up
                    to it. Over time most patients can slowly discontinue the ventilator, but they will keep the trach
                    for several weeks to months. Once the ventilator is removed, the patient breathes oxygen or regular
                    air through the trach.
                </p>
                <p>
                    <b>Patients can’t speak with a trach until their condition improves.</b>
                    When a patient is well enough, a cap can be placed over the opening. Many but not all patients can
                    have their trach removed after weeks or months. A small scar remains where the hole was.
                </p>
                <div class="thumbnail">
                    <img src="static/img/Trach_strip.jpg" alt="Lights" style="width:100%">
                    <div class="caption">
                        This patient has a <b>tracheostomy (“trach”)</b>. On the left side is the trach without an
                        oxygen
                        mask; on the right side is the same patient with an oxygen mask (“trach mask”) through which
                        he breathes oxygen or air. This patient is no longer on a ventilator.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a onclick="click2()" data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                   id="block2">
                    {% if session['accordion2'] == True %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" id="check2"
                          style="display: none;"></span>
                    {% endif %}
                    2. Feeding Tube (“PEG” or “G-tube”)</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p style="font-family: Arial, Times, serif; font-size: medium">
                        <p> A patient can’t eat by mouth when on a ventilator or with a trach. Therefore, a surgeon
                            places a feeding tube through the skin directly into the stomach. Liquid nutrition and
                            medications are administered through the feeding tube.
                        </p>
                        <p>
                            Usually, the trach and feeding tube
                            surgeries are done at the same time. The feeding tube may stay in longer than the trach. In
                            some cases, people may have to use a feeding tube permanently, if they don’t recover enough
                            to eat on their own.
                        </p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <img class="img-responsive" src="static/img/PEG.jpg" alt="PEG">
                    </div>
                </div>
                <p>
                    <b>Both the trach and the feeding tube are removable </b>if the patient’s condition improves enough.
                </p>
                <p>
                    <b>If your family member does not recover to the level you had hoped</b>, despite the highest level
                    of
                    care,
                    you may decide to have the trach and feeding tube removed at that point and transition to comfort
                    care.
                </p>

                <!--TODO: ADD the boarder-->
                <div><p><b>Some patients die</b> despite the best efforts of the doctors and the medical team
                    and despite additional
                    procedures to keep them alive.</p>
                </div>

            </div>
        </div>
    </div>
</div>
