<!--the head of this page-->
<div class="section-head"><h3 class="text-primary text-center">If survival is the goal of care
    <br>what happens after my family member leaves the ICU?</h3></div>
<!--the paragraph in this page-->
<p>
    After the trach and feeding tube placements, your family member will need further medical care and rehabilitation at
    a facility specializing in care for people recovering from TBI. The doctor will decide when your family member is
    ready for this step. Your family member’s medical and nursing needs determine which type of facility they go to
    after the ICU.
</p>
<p>There are three types of facilities where your family member may be sent</p>
<div class="alert alert-info text-center" role="alert">Please click and read the following sections.</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" id="block3">
                    {% if session['accordion3'] == True %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true" id="check3"
                          style="display: contents;"></span>
                    {% endif %}
                    Acute Rehabilitation Hospital
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <p><b>Patients with serious TBIs rarely go here directly.</b> Patients who require a breathing machine
                    or frequent suctioning through a trach, or are too sleepy cannot go here until their condition
                    improves.</p>
                <p>
                    The patients who transfer here:

                </p>
                <ul>
                    <li>Are generally very stable and wide awake.
                    <li>Are able to take part in at least three hours of therapy per day for 5-7 days per week.
                    <li>Are able to participate in intense physical, occupational, and speech therapies.
                    <li>Are treated here for several weeks.
                </ul>
                <div class="row">
                    <div class="col-md-4">
                        <img src="static/img/speech_therapy.jpg" class="img-responsive">
                        <div class="description">
                            Used with permission
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="static/img/speech_therapy_2.jpg" class="img-responsive">
                        <div class="description">
                            Used with permission
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="static/img/PTon_bars.jpg" class="img-responsive">
                        <div class="description">
                            Used with permission
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" id="block4">
                    {% if session['accordion4'] == True %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true" id="check4"
                          style="display: contents;"></span>
                    {% endif %}
                    Long-Term Acute Care Hospital (LTACH)</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <p>This facility is able to provide more complex medical care than an acute rehabilitation hospital.</p>
                <div class="col-md-6">
                    <p>Patients here:</p>
                    <ul>
                        <li><b>Are sicker and need more help.</b>
                        <li>Take part in fewer, less intense therapy sessions.
                        <li>Transfer to an acute rehabilitation hospital once their condition improves.
                    </ul>

                </div>

                <div class="col-md-6">
                    <img src="static/img/Trach_Mask_pt_Vibra.jpg" class="img-responsive">
                    <div class="description">
                        Used with permission
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" id="block5">
                    {% if session['accordion5'] == True %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true" id="check5"
                          style="display: contents;"></span>
                    {% endif %}
                    Skilled Nursing Facility (SNF)</a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <p>This facility provides long-term care to patients whose condition may never improve.</p>
                <p>Patients in this type of facility:</p>
                <ul>
                    <li>Are usually quite stable but need full nursing care due to the effects of their injuries.
                    <li><b>May be here for a long period of time, or even the rest of their lives.</b>
                    <li>Are too ill to take part in several hours of therapy per day.
                    <li>Are less likely to transfer to a LTACH or an acute rehabilitation hospital, due to the patient’s
                        dependence on others and the severity of the injury.
                </ul>

                <div class="row">
                    <div class="col-md-6">
                        <img src="static/img/Nursing_home.jpg" class="img-responsive">
                        <div class="description">
                            From: http://wisconsinwatch.org/2013/02/find-nursing-home-reports/
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>