<!--<div class="section-head" style="background-color: #c6e2b4"><h3 class="text-center">Part 2: Making the decision</h3>-->
<!--</div>-->
<!--<br>-->
<div class="section-head"><h3 class="text-primary text-center">How do I make this decision?</h3></div>
<!--the paragraph in this page-->
<p>Your family member is too sick to make his or her own medical decisions. This injured person is depending on a
    family member to make those decisions on his or her behalf. Since you are the one most likely to know what he or she
    would want, the hard job of making such decisions falls to you.</p>
<p><b>Things to remember:
</b></p>

<ul>
    <li>
        <b>Your job is to make the decision <i>your family member would want</i></b> if he or she could talk to the
        medical staff.
    </li>
    <li>
        <b>Your job is <i><u>not</u></i> to make the decision that <i><u>you</u></i> want.</b>
    </li>
</ul>
<p><b>Consider these factors </b>when making this important decision:</p>
<ul>
    <li>What kind of person was your family member before the injury?
    <li>What did he or she like to do?
    <li>What activities was he or she able to do?
    <li>Would your family member be able to accept a quality of life that wasn’t as good as before the TBI?
</ul>
<p><b>Think about what your family member would
    want.</b> Some people have told their loved ones that they would not want to
    be dependent on others (short- or long-term) or would not want a trach or feeding tube. Your family member may never
    have talked about these things with you. Even so, your family member may have given clues to his or her feelings
    during conversations with you about similar issues. Did your family member come in contact with someone with a brain
    injury or stroke or a trach and feeding tube? If so, did he or she comment on the person’s situation?</p>
