<div class="section-head"><h3 class="text-primary text-center">Are you still unsure?</h3></div>

<ul>
    <li>Even after thinking about the decision and the options, you may still not be sure what is best for your family
        member.
    <li><b>It’s ok to feel that way. Many people in this situation feel the same way.</b>
    <li>You may be unsure because:
        <ul>
            <li>You need to talk with others before making a decision.
            <li>You still have questions about treatment choices.
            <li>You need more time to think about things.
        </ul>
</ul>


<div class="section-head"><h3 class="text-primary text-center">Where can you get more information?</h3></div>
<p><b>It is very important to discuss your decision with your family member’s doctor and get answers to your
    questions.</b></p>
<ul>
    <li>
        <b>Many staff members are ready to help and support you, including:</b>
    </li>
    <ul>
        <li>doctors,
        <li>nurses,
        <li>palliative care specialists,
        <li>chaplains,
        <li>social workers, and
        <li>case managers.
    </ul>
    <li>You can get more help by speaking to these staff members and meeting with your family member’s doctor.
    </li>


</ul>
