<body onbeforeunload="return leavepage()">
<div class="section-head">
    <h3 class="text-center">YOUR OWN WORKSHEET: HOW TO MAKE A DECISION FOR YOUR FAMILY MEMBER</h3>
</div>
<br>
<div class="alert alert-info text-center">
    Please complete this worksheet and bring it to the meeting with the doctor.
</div>
<p>
    Soon you will be meeting with your family member’s doctor to discuss “goals of care” and make an important
    goals-of-care
    treatment decision on behalf of your family member. This worksheet will help you be better informed and prepared for
    the
    decision.</p>

<h4 class="section-head">Part I: What is the decision and why do you have to make it?</h4>

<!--the dropdown box-->
<form action="/postreport" method="post">
    <div class="form-group">
        <label for="ans2">
            1. What is the “goals of care” decision about?
        </label>
        <textarea name="ans2" class="form-control" rows="3"
                  id="ans2" maxlength="1000">{{session['ans2']}}</textarea>
    </div>
    <div class="form-group">
        <label for="ans3">
            2. Why do you need to make a decision about your family member’s goals of care?
        </label>
        <textarea name="ans3" class="form-control" rows="3"
                  id="ans3" maxlength="1000">{{session['ans3']}}</textarea>
    </div>
    <br><br>
    <h4 class="section-head">Part II: What is important to your loved one?</h4>
    <p>Here are some statements that will help you decide which treatment goal is best for your family member. Please
        circle the number on the scale below to show how important each statement is to your family member if he/she
        could
        decide for themselves.</p>

    <table class="table-bordered tabletext">
        <thead>
        <tr>
            <th>
            </th>
            <th class="col-md-1 text-center">
                Not important
            </th>
            <th class="col-md-1 text-center">
            </th>
            <th class="col-md-1 text-center">
                Very important
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>My family member wants to live as comfortably as possible.</td>
            <td class="text-center">
                {% if session['ans4'] == 1 %}
                <input type="radio" value=1 name="ans4" checked>
                {% else %}
                <input type="radio" value=1 name="ans4">
                {% endif %}
            </td>
            <td class="text-center">
                {% if session['ans4'] == 2 %}
                <input type="radio" value=2 name="ans4" checked>
                {% else %}
                <input type="radio" value=2 name="ans4">
                {% endif %}
            </td>
            <td class="text-center">
                {% if session['ans4'] == 3 %}
                <input type="radio" value=3 name="ans4" checked>
                {% else %}
                <input type="radio" value=3 name="ans4">
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>My family member wants to live as long as possible, regardless of the quality of life.</td>
            <td class="text-center">
                {% if session['ans5'] == 1 %}
                <input type="radio" value=1 name="ans5" checked>
                {% else %}
                <input type="radio" value=1 name="ans5">
                {% endif %}
            </td>
            <td class="text-center">
                {% if session['ans5'] == 2 %}
                <input type="radio" value=2 name="ans5" checked>
                {% else %}
                <input type="radio" value=2 name="ans5">
                {% endif %}
            </td>
            <td class="text-center">
                {% if session['ans5'] == 3 %}
                <input type="radio" value=3 name="ans5" checked>
                {% else %}
                <input type="radio" value=3 name="ans5">
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>For my family member a high quality of life is most important.</td>
            <td class="text-center">
                {% if session['ans6'] == 1 %}
                <input type="radio" value=1 name="ans6" checked>
                {% else %}
                <input type="radio" value=1 name="ans6">
                {% endif %}
            </td>
            <td class="text-center">
                {% if session['ans6'] == 2 %}
                <input type="radio" value=2 name="ans6" checked>
                {% else %}
                <input type="radio" value=2 name="ans6">
                {% endif %}
            </td>
            <td class="text-center">
                {% if session['ans6'] == 3 %}
                <input type="radio" value=3 name="ans6" checked>
                {% else %}
                <input type="radio" value=3 name="ans6">
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>My family member does not want to be dependent on others away from home.</td>
            <td class="text-center">
                {% if session['ans7'] == 1 %}
                <input type="radio" value=1 name="ans7" checked>
                {% else %}
                <input type="radio" value=1 name="ans7">
                {% endif %}
            </td>
            <td class="text-center">
                {% if session['ans7'] == 2 %}
                <input type="radio" value=2 name="ans7" checked>
                {% else %}
                <input type="radio" value=2 name="ans7">
                {% endif %}
            </td>
            <td class="text-center">
                {% if session['ans7'] == 3 %}
                <input type="radio" value=3 name="ans7" checked>
                {% else %}
                <input type="radio" value=3 name="ans7">
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>My family member would accept a tracheostomy and feeding tube to stay alive.</td>
            <td class="text-center">
                {% if session['ans8'] == 1 %}
                <input type="radio" value=1 name="ans8" checked>
                {% else %}
                <input type="radio" value=1 name="ans8">
                {% endif %}
            </td>
            <td class="text-center">
                {% if session['ans8'] == 2 %}
                <input type="radio" value=2 name="ans8" checked>
                {% else %}
                <input type="radio" value=2 name="ans8">
                {% endif %}
            </td>
            <td class="text-center">
                {% if session['ans8'] == 3 %}
                <input type="radio" value=3 name="ans8" checked>
                {% else %}
                <input type="radio" value=3 name="ans8">
                {% endif %}
            </td>
        </tbody>
    </table>
    <br>
    <br>
    <div>
        <p>
            Imagine a line where the right side is comfort care and the left side is survival at any cost.
            <i>Make an X on the line below at the point you think your loved one would choose.</i><br>
        </p>
        <div class="col-md-1 text-center">
            <h4>Survival</h4>
        </div>
        <div class="col-md-10"><br>
            <input type="range" name="ans9" min="0" max="100" id="ans9"
                   value={{session['ans9']}}>
        </div>
        <div class="col-md-1 text-center">
            <h4>Comfort</h4>
        </div>
    </div>
    <br><br><br><br>
    <h4 class="section-head">Part III: Your Goals of Care Options</h4>
    <p>There are 2 goals of care options available. Each option has different benefits and risks and side effects. There
        is
        no right or wrong choice. Please read the options below. Circle the option(s) you want to talk more about. Also,
        if
        you have additional questions, please make a list and bring them to the goals of care meeting. Your doctor will
        go
        over the options and questions with you.</p>
    <table class="table-bordered tabletext">
        <thead>
        <tr>
            <th class="col-md-4">
                <h4><b>Goals of care option</b></h4>
            </th>
            <th class="col-md-4">
                <h4><b>Reasons to choose this option</b></h4>
            </th>
            <th class="col-md-4">
                <h4><b>Reasons not to choose this option</b></h4>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th style="font-weight:normal">
                <b>“Do everything”:
                    Focus on <u>survival</u></b><br>
                Tracheostomy and feeding tube placement is done, followed by placement in LTACH or nursing home,
                sometimes acute rehab when the patient is ready.
            </th>
            <th style="font-weight:normal">
                <ul>
                    <li>Best chance to stay alive.
                    <li>Patient will have a quality of life that he/she finds acceptable.
                    <li>Patient has said in the past to keep him/her alive at all cost.
                    <li>Patient would feel OK with being uncomfortable from lying in bed or working hard during therapy
                        sessions.
                </ul>
            </th>
            <th style="font-weight:normal">
                <ul>
                    <li>Additional treatments can be painful.
                    <li>Patient does not want to be dependent on others to live.
                    <li>Patient does not want a tracheostomy or feeding tube.
                    <li>Patient may still die and will have pain from additional treatments.
                </ul>

            </th>
        </tr>
        <tr>
            <th></th>
            <th>
                <div class="checkbox text-center">
                    {% if session['opt1'] == 1%}
                    <label><input type="checkbox" value="on" name="opt1" checked>I'd like to talk more about
                        this</label>
                    {% else %}
                    <label><input type="checkbox" value="on" name="opt1">I'd like to talk more about
                        this</label>
                    {% endif %}
                </div>
            </th>
            <th>
                <div class="checkbox text-center">
                    {% if session['opt2'] == 1%}
                    <label><input type="checkbox" value="on" name="opt1" checked>I'd like to talk more about
                        this</label>
                    {% else %}
                    <label><input type="checkbox" value="on" name="opt1">I'd like to talk more about
                        this</label>
                    {% endif %}
                </div>
            </th>
        </tr>
        <tr>
            <th style="font-weight:normal">
                <b>“No suffering”: Focus on <u>comfort</u></b><br>
                Transition to comfort care is provided when the family is ready.
            </th>
            <th style="font-weight:normal">
                <ul>
                    <li>Unlikely that patient will have an acceptable quality of life.
                    <li>Patient has suffered enough; family wants him/her to be comfortable.
                </ul>

            </th>
            <th style="font-weight:normal">
                <ul>
                    <li>Without life support, the patient will die.
                    <li>Patient would choose to have advanced treatments and live in a nursing home.
                </ul>

            </th>
        </tr>
        <tr>
            <th></th>
            <th>
                <div class="checkbox text-center">
                    {% if session['opt3'] == 1%}
                    <label><input type="checkbox" value="on" name="opt1" checked>I'd like to talk more about
                        this</label>
                    {% else %}
                    <label><input type="checkbox" value="on" name="opt1">I'd like to talk more about
                        this</label>
                    {% endif %}
                </div>
            </th>
            <th>
                <div class="checkbox text-center">
                    {% if session['opt4'] == 1%}
                    <label><input type="checkbox" value="on" name="opt1" checked>I'd like to talk more about
                        this</label>
                    {% else %}
                    <label><input type="checkbox" value="on" name="opt1">I'd like to talk more about
                        this</label>
                    {% endif %}
                </div>
            </th>
        </tr>
        </tbody>
    </table>

    <br>


    <div class="form-group">
        <label for="ans10">
            3. How do you feel about this choice?
        </label>
        <textarea name="ans10" class="form-control" rows="3"
                  id="ans10" maxlength="1000">{{session['ans10']}}</textarea>
    </div>
    <input type="submit" id="submit-answer" class="hidden" onclick="reviewpage()">
    <div class="form-group">
        <label for="email">Please enter your E-mail address to receive your report and retrieve your report
            after you finished:</label>
        <input type="email" aria-describedby="emailHelp" placeholder="Enter email" class="form-control"
               name="email" value="{{session['email']}}" maxlength="255" id="email">
    </div>
</form>