<div class="section-head"><h3 class="text-center">Example 1</h3></div>
<br>
<!--the paragraph in this page-->
<p>
    Ms. Smith is a 35-year-old previously healthy woman who fell down the stairs. She is now unconscious. She was an
    avid runner. She was working full-time as an accountant. Because of her injury, she underwent surgery to remove
    blood from one area of her brain. She remains sleepy and confused during her ICU stay. She has a severe lung
    infection. Ms. Smith:
</p>
<ul>
    <li>
        Is young and was healthy and active before her injury;
    </li>
    <li>
        Has a severe brain injury;
    </li>
    <li>
        Does not have any other injuries;
    </li>
    <li>
        Develops a major infection while in the ICU.
    </li>
</ul>

<p>
    The doctor thinks that Ms. Smith won’t be able to breathe or eat on her own any time soon. The doctor expects that
    it’s highly likely she will survive for six months or longer. She will probably improve to some degree, but it is
    not certain she will ever be independent or work again. The doctor asks Ms. Smith’s parents to decide which goals of
    care best align with Ms. Smith’s values and preferences.
</p>
<p>
    The parents filled out the worksheet to help them decide which goal of care was best for their daughter:
</p>
<div class="section-head"><h3 class="text-center">Worksheet for Example 1, Ms. Smith</h3></div>
<br>

<h4 class="section-head">Part I: What is the decision and why do you have to make it?</h4>
<div class="panel panel-primary">
    <div class="panel-heading">1) What is the “goals of care” decision about?
    </div>
    <div class="panel-body" style="font-style: italic">“Our daughter remains on the ventilator and needs further care
        to get better. We have to decide about trach, feeding tube and further care. Overall the doctor thinks that she
        may
        improve, although there is a lot of uncertainty here. She will definitely need some form of LTACH or nursing
        home after the ICU, maybe rehabilitation later. She will need a trach and feeding tube before then. We
        understand the pros and cons of both options: survival or comfort care.”
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">2) Why do you need to make a decision about your family member’s goals of care?
    </div>
    <div class="panel-body" style="font-style: italic">“Without the trach and feeding tube she can’t leave the ICU; some
        people may not want to have this done.”
    </div>
</div>
<h4 class="section-head">Part II: What is important to your loved one?</h4>
<table class="table-bordered tabletext">
    <thead>
    <tr>
        <th>
        </th>
        <th class="col-md-1 text-center">
            Not important
        </th>
        <th class="col-md-1 text-center">
        </th>
        <th class="col-md-1 text-center">
            Very important
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>My family member wants to live as comfortably as possible.</td>
        <td class="text-center">
            <input type="radio" checked>
        </td>
        <td class="text-center">
            <input type="radio" disabled>
        </td>
        <td class="text-center">
            <input type="radio" disabled>
        </td>
    </tr>
    <tr>
        <td>My family member wants to live as long as possible, regardless of the quality of life.</td>
        <td class="text-center">
            <input type="radio" disabled>
        </td>
        <td class="text-center">
            <input type="radio" disabled>
        </td>
        <td class="text-center">
            <input type="radio" checked>
        </td>
    </tr>
    <tr>
        <td>For my family member a high quality of life is most important.</td>
        <td class="text-center">
            <input type="radio" disabled>
        </td>
        <td class="text-center">
            <input type="radio" disabled>
        </td>
        <td class="text-center">
            <input type="radio" checked>
        </td>
    </tr>
    <tr>
        <td>My family member does not want to be dependent on others away from home.</td>
        <td class="text-center">
            <input type="radio" disabled>
        </td>
        <td class="text-center">
            <input type="radio" checked>
        </td>
        <td class="text-center">
            <input type="radio" disabled>
        </td>
    </tr>
    <tr>
        <td>My family member would accept a tracheostomy and feeding tube to stay alive.</td>
        <td class="text-center">
            <input type="radio" disabled>
        </td>
        <td class="text-center">
            <input type="radio" disabled>
        </td>
        <td class="text-center">
            <input type="radio" checked>
        </td>
    </tbody>
</table>
<br>
<br>
<div>
    <p>
        Imagine a line where the right side is comfort care and the left side is survival at any cost.
        <i>Make an X on the line below at the point you think your loved one would choose.</i><br>
    </p>
    <div class="col-md-1 text-center">
        <h4>Survival</h4>
    </div>
    <div class="col-md-10"><br>
        <input type="range" min="0" max="100"
               value=18 disabled>
    </div>
    <div class="col-md-1 text-center">
        <h4>Comfort</h4>
    </div>
</div>
<br><br><br><br>
<h4 class="section-head">Part III: Your Goals of Care Options</h4>
<table class="table-bordered tabletext">
    <thead>
    <tr>
        <th class="col-md-4">
            <h4><b>Goals of care option</b></h4>
        </th>
        <th class="col-md-4">
            <h4><b>Reasons to choose this option</b></h4>
        </th>
        <th class="col-md-4">
            <h4><b>Reasons not to choose this option</b></h4>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th style="font-weight:normal">
            <b>“Do everything”:
                Focus on <u>survival</u></b><br>
            Tracheostomy and feeding tube placement is done, followed by placement in LTACH or nursing home,
            sometimes acute rehab when the patient is ready.
        </th>
        <th style="font-weight:normal">
            <ul>
                <li>Best chance to stay alive.
                <li>Patient will have a quality of life that he/she finds acceptable.
                <li>Patient has said in the past to keep him/her alive at all cost.
                <li>Patient would feel OK with being uncomfortable from lying in bed or working hard during therapy
                    sessions.
            </ul>

        </th>
        <th style="font-weight:normal">
            <ul>
                <li>Additional treatments can be painful.
                <li>Patient does not want to be dependent on others to live.
                <li>Patient does not want a tracheostomy or feeding tube.
                <li>Patient may still die and will have pain from additional treatments.
            </ul>

        </th>

    </tr>
    <tr>
        <th style="font-weight:normal">
            <b>“No suffering”: Focus on <u>comfort</u></b><br>
            Transition to comfort care is provided when the family is ready.
        </th>
        <th style="font-weight:normal">
            <ul>
                <li>Unlikely that patient will have an acceptable quality of life.
                <li>Patient has suffered enough; family wants him/her to be comfortable.
            </ul>

        </th>
        <th style="font-weight:normal">
            <ul>
                <li>Without life support, the patient will die.
                <li>Patient would choose to have advanced treatments and live in a nursing home.
            </ul>

        </th>
    </tr>
    </tbody>
</table>
<br><br>
<div class="panel panel-primary">
    <div class="panel-heading">3) How do you feel about this choice?
    </div>
    <div class="panel-body" style="font-style: italic">“We don’t like seeing her in pain, but at the same time from her
        marathon running she knows how to fight through the pain. We trust the doctors that they will do whatever they
        can to lessen the discomfort. We know it’s going to be a long, painful road ahead. We think our daughter would
        accept a lower quality of life and keep fighting to make the best of her life.”
    </div>
</div>

<!--TODO: Choose bar-->
