<div class="section-head"><h3 class="text-center">Example 1</h3></div>
<br>
<!--the paragraph in this page-->
<p>
    Ms. Smith is a 35-year-old previously healthy woman who fell down the stairs. She is now unconscious. She was an
    avid runner. She was working full-time as an accountant. Because of her injury, she underwent surgery to remove
    blood from one area of her brain. She remains sleepy and confused during her ICU stay. She has a severe lung
    infection. Ms. Smith:
</p>
<ul>
    <li>
        Is young and was healthy and active before her injury;
    </li>
    <li>
        Has a severe brain injury;
    </li>
    <li>
        Does not have any other injuries;
    </li>
    <li>
        Develops a major infection while in the ICU.
    </li>
</ul>

<p>
    The doctor thinks that Ms. Smith won’t be able to breathe or eat on her own any time soon. The doctor expects that
    it’s highly likely she will survive for six months or longer. She will probably improve to some degree, but it is
    not certain she will ever be independent or work again. The doctor asks Ms. Smith’s parents to decide which goals of
    care best align with Ms. Smith’s values and preferences.
</p>
<p>
    The parents filled out the worksheet to help them decide which goal of care was best for their daughter:
</p>
<div class="section-head"><h3 class="text-center">Worksheet for Example 1, Ms. Smith</h3></div>
<br>
<!--the paragraph in this page-->
<div class="panel panel-primary">
    <div class="panel-heading">1) What do you understand about the outlook of your loved one, and the options?
    </div>
    <div class="panel-body" style="font-style: italic">“Overall the doctor thinks that she may improve, although
        there is a lot of uncertainty here. She will definitely need some form of LTACH or nursing home after
        the ICU, and then hopefully rehabilitation later. She will definitely need a trach and feeding tube
        before then. We understand the pros and cons of both options: survival or comfort care.”
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">2) What would your loved one want?</div>
    <div class="panel-body" style="font-style: italic">“Our daughter had a high school classmate before with a
        TBI and she knows what a trach/feeding tube look like. She was not opposed to it as long as she has a
        chance of getting rid of it. We know our daughter; she is a runner and has run marathons. This will be
        even longer than training for a marathon, but she will want to give it a try.”
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">3) How is this choice making you feel?</div>
    <div class="panel-body" style="font-style: italic">“We don’t like seeing her in pain, but at the same time
        from her marathon running she knows how to fight through the pain. We trust the doctors that they will
        do whatever they can to lessen the pain throughout the procedures.”
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">4) What questions do you need answered before you can decide?</div>
    <div class="panel-body" style="font-style: italic">“We have a few questions regarding the procedures
        themselves and how to get her to the next level of care after the ICU. We have written down the
        questions and are meeting with the doctor to get them answered. We know that the Social Worker and Case
        manager will talk to us about what the next steps are regarding finding a place for after the ICU and
        acute care hospital.”
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">5) Imagine a line where the right side is comfort care and the left side is doing
        everything possible for survival. Where do you think your loved one would put themselves on the line
        below?
    </div>
    <div class="panel-body" style="font-style: italic">“We are leaning towards continuing advanced medical care
        and going forward with the trach and feeding tube and what follows after the ICU stay. We know it’s
        going to be a long, painful road ahead, but we know our daughter’s endurance and will power. She would
        accept a lower quality of life and keep fighting to make the best of her life.”
    </div>
</div>
<!--TODO: Choose bar-->
