<!--the head of this page-->
<div class="section-head"><h3 class="text-center">THIS DECISION AID IS FOR YOU IF:</h3></div>
<br>
<!--the paragraph in this page-->
<ul>
    <li>
        You are the one designated to make decisions for your family member when he/she can’t make those decisions on
        his/her own.
    </li>
    <li>
        Your family member has a traumatic brain injury (TBI) and needs medical care in the ICU.
    </li>
    <li>
        Your family member is on a machine to help with breathing and is fed through a tube (life support).
    </li>
</ul>

<br/>

<div class="section-head"><h3 class="text-center">IN THIS DECISION AID YOU WILL LEARN ABOUT:</h3></div>
<br>
<ul>
    <li>Breathing machines (ventilators) and what it feels like to use one;
    <li>Possible long-term effects of TBI (prognosis);
    <li>Goals of care decisions;
    <li>Identification of values most important to your family member and you;
    <li>Choices available when making the goals of care decision:
        <ul>
            <li>Facts about each choice;
            <li>Advantages and disadvantages of each choice;
            <li>Alignment of choices with your family member’s values and preferences;
        </ul>
    <li>How to make the best decision for your family member.
</ul>
