<!--the head of this page-->
<div class="section-head" style="background-color: #c6e2b4"><h3 class="text-center">PART 1: THE FACTS</h3></div>
<br>
<!--the paragraph in this page-->
<div class="row">
    <br/>
    <div class="col-xs-12 col-md-7">
        <div class="section-head"><h3 class="text-center">WHAT IS A MECHANICAL VENTILATOR?</h3></div>
        <br>
        <ul>
            <li>A mechanical ventilator is a breathing machine that provides artificial breathing support. <b>It is also called “life support.”</b>
            <li>The ventilator pumps air and oxygen into the lungs through a breathing tube.
            <li>The breathing tube goes through the mouth into the windpipe.
            <li>The ventilator keeps a patient breathing while he or she receives treatments for medical problems like TBI and other serious conditions.<br>
            <b>The ventilator itself does not cure the injury.</b>
        </ul>
        <div class="section-head"><h3 class="text-center">WHAT IS IT LIKE TO BE ON A VENTILATOR?</h3></div>
        <br>
        <ul>
            <li>Patients are uncomfortable when they are on a ventilator.
            <li>Patients often need medicines for pain and to help them relax while they are on a ventilator.
            <li>Patients cannot eat or drink while on a ventilator because of the breathing tube in their mouth.
            <li>Patients cannot speak or make a sound when on a ventilator.
            <li>Patients who are on a ventilator are very sick.
            <br><br>
            <li>Many TBI patients cannot breathe or swallow on their own for weeks or months. <b>Soon, the doctor will ask
            you to make an important decision regarding the ventilator.</b>
        </ul>
     </div>
    <div class="col-xs-6 col-md-5">
        <br/>
        <img class="img-responsive" src="{{url_for('static', filename = 'img/Ventilator.JPG')}}"
             alt="Ventilator">
        <div class="caption" style="text-align: center">
            This is a mechanical ventilator.
        </div>
        <!--TODO: Add description of the picture-->
    </div>
</div>
