<!--the head of this page-->
<div class="section-head"><h3 class="text-center">HOW CERTAIN IS THE PROGNOSIS FOR YOUR FAMILY MEMBER?
</h3></div>
<br>
<!--the paragraph in this page-->
<ul>
    <li><b>Every patient is different.</b></li>
    <p>It is impossible to predict exactly how your family member will react to treatment. Doctors can compare your family
    member’s situation to those of thousands of other TBI patients on record to produce a rough estimate of the
        prognosis. Still, it is impossible to take every factor into account.</p>
    <li>
        <b>There is a large degree of uncertainty in every prognosis.</b>
    </li>
    <p>It is important that you ask your family member’s doctor to provide an estimate of the outlook, but keep in mind
    that no prognosis can be made with certainty. It may be helpful to have a range. Ask the doctor for a “best case”
        and a “worst case scenario.”</p>
</ul>
<p>An example of a TBI patient’s prognosis is on the next page.</p>


