<!--the head of this page-->
<div class="section-head"><h3 class="text-center">HOW A DOCTOR MAY REACH A TBI PROGNOSIS</h3>
</div>
<br>
<p>
<b><u>Note:</u> This is an example and may or may not represent your family member’s situation.</b><br>
<u>Example:</u> 58-year-old; both pupils react to light; abnormal motor response; normal oxygen level; low blood pressure at accident scene; head CT with bleeding.
</p>
<!--the paragraph in this page-->
<img src="static/img/impact_model.png" class="img-responsive">
<ul>
    <li>This forecast does not take every patient factor into account.
    <li>There remains a large amount of uncertainty in many patients of this type.
    <li>Your family member’s doctor will be able to tell you more about the level of uncertainty in a prognosis for your
        family member.
</ul>
