<div class="section-head"><h3 class="text-center">WHEN <u>COMFORT</u> IS THE GOAL OF CARE
</h3>
</div>
<p>
    <br><b>Why choose comfort as the treatment goal (“comfort care”)?</b></p>
<ul>
    <li>The family member has gone through enough discomfort in the ICU at this point.
    <li>The person’s brain injury is too severe to allow any chance of survival.
    <li>The person has said in the past that he or she would not want to endure the treatments necessary to be kept
        alive.
    <li>The person has made it clear in the past that he or she would not want the lower quality of life to be expected
        after the TBI.
</ul>
<p>
    <b>What happens when comfort is the treatment goal (“comfort care”)?</b></p>
<ul>
    <li>When the family is ready, the bedside team will safely and carefully discontinue medications, except those that
        prevent suffering.
    <li>Nurses experienced in providing comfort care will make sure your family member is not suffering.
    <li>The expert staff will discontinue IV fluids, artificial feeding, breathing tube, and ventilator—measures which
        are keeping your family member alive.
    <li>Staff will administer medicines and nursing care to prevent pain and suffering, but they will do nothing to
        hasten the natural dying process.
    <li>The patient will die, usually within hours to days after starting comfort care.
        Family members and friends can stay with the patient during this time.
</ul>

