{% extends 'layout.html' %}
{% block content %}
    <div class="section-head"><h3 class="text-primary text-center">This Decision Aid is Designed to Help You</h3></div>
    <p>
        Your family member has a <b>serious traumatic brain injury (TBI)</b> and has been in the Intensive Care Unit
        (ICU)
        for several days. Your family member can’t make decisions about his or her medical care and needs your help in
        deciding which goals to pursue during treatment. This is known as the
        <b>“goals of care” decision</b>. The doctor needs to know soon the goals that should be considered when treating
        your family member. This is one of the <b style="font-weight: bolder">most important decisions</b> to be made in
        your family member’s medical care.
    </p>

    <p>
        Making a decision about your family member’s “goals of care” is difficult for most families; that’s normal.
        For that reason, we have created this tool (decision aid) to help you.
        It will help you understand what is involved in the decision and the choices available to you, so that you
        can
        make the best decision for your family member.
        This decision aid was created with input from people like you who had to make this decision for their loved
        ones.
        This tool will help you when you talk to the doctor about the decision facing you and the choices available.

    </p>
    <br>
    <div class="alert alert-info" role="alert">
        <b>Remember: this tool will <i>not</i> replace a meeting with the doctor.</b>
        <ul>
            <li>Completing this decision aid will take about <b>30 minutes</b>. You can take breaks if needed.
            <li>Please read every page.
            <li>Please fill out the worksheet. This will help you when you talk with the doctor.
            <li>Bring the completed worksheet to the meeting with the doctor.
        </ul>
    </div>
{% endblock %}