{% extends 'layout.html' %}
{% block content %}
    <div class="section-head"><h3 class="text-primary text-center">Patient examples</h3></div>
    <!--the paragraph in this page-->
    <p>
        Family members like you have said that reading about other patients and their families helped them understand
        the
        choices they had to make.
    <p>
        The two patients in the examples below were treated in the ICU for a brain injury. These two patients have many
        differences. Their families used the worksheet to record their thoughts.
    <p>As you read these examples, try to think about what your family member might want in each situation.
    </p>
{% endblock %}