{% extends 'layout.html' %}
{% block content %}
    <div class="section-head"><h2 class="text-primary text-center">In this decision aid you will learn about:</h2></div>
    <ul>
        <li>Breathing machines (ventilators) and what it feels like to use one
        <li>Possible long-term effects of TBI (prognosis)
        <li>Goals of care decisions
        <li>Identification of values most important to your family member and you
        <li>Choices available when making the goals of care decision:
            <ul>
                <li>Facts about each choice
                <li>Advantages and disadvantages of each choice
                <li>Alignment of choices with your family member’s values and preferences
            </ul>
        <li>How to make the best decision for your family member
    </ul>
{% endblock %}