{% extends 'layout.html' %}
{% block content %}
    <div class="section-head"><h3 class="text-primary text-center">What decision do you have to make?</h3></div>
    <p>Your family member is still on a ventilator. Despite the best care from the doctors and nurses, he or she is
        unable to survive without the ventilator. </p><p>There are a number of reasons for this, for example:</p>
    <ul>
        <li>Your family member is unconscious because of the brain injury, and the breathing tube is protecting the
            lungs from saliva or food going down the windpipe
        <li>Your family member has problems with the lungs themselves (lung infection, fluid on the lungs, or other
            condition)
        <li>Your family member has other issues, which the doctor can explain
            <br>
    </ul>
    <div class="alert alert-info" role="alert"><p>You have to decide which treatment goals best match your family
        member’s
        goals, values, and preferences.<br>
        The treatment goal that you choose will determine the procedures and type of care your family member receives
        while in the ICU and afterwards.</p>

    </div>


    <div class="section-head"><h3 class="text-primary text-center">What are the two treatment goals?</h3>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-2 col-md-6">
            <img src="static/img/LeftArrow.png">

        </div>
        <div class="col-lg-2 col-md-6">
            <img src="static/img/RightArrow.png">

        </div>
        <div class="col-lg-4">
        </div>
        <table class="table table-responsive" style="border-style: hidden">
            <tr>
                <th class="col-lg-5"><p class="alert alert-success text-center"><b>Survival</b><br>No matter
                    what
                    it takes</p></th>
                <th class="col-lg-2 text-center"><p>OR</p></th>
                <th class="col-lg-5"><p class="alert alert-success text-center"><b>Comfort</b><br>So (s)he does
                    not
                    suffer</p></th>
            </tr>
        </table>
        <img src="static/img/choose_bar.png" class="img-responsive center-block" width="700px">
        <div class="caption" style="text-align: center">
            Both options are explained in more detail over the next few pages.
        </div>
    </div>

{% endblock %}