{% extends 'layout.html' %}
{% block content %}
    <div class="section-head"><h3 class="text-primary text-center">What is the decision?</h3></div>
    <p>Your family member is still on a ventilator. Despite the best care from the doctors and nurses, he or she is
        unable to survive without the ventilator. There are a number of reasons for this, for example:</p>
    <ul>
        <li>Your family member is unconscious because of the brain injury, and the breathing tube is protecting the
            lungs from saliva or food going down the windpipe;
        <li>Your family member has problems with the lungs themselves (lung infection, fluid on the lungs, or other
            condition);
        <li>Your family member has other issues, which the doctor can explain.
            <br>
    </ul>
    <div class="alert alert-info" role="alert">At this point, you have to decide which of two treatment goals best
        aligns with your family member’s goals, values, and preferences.<br>
        The treatment goal that you choose will determine the procedures and type of care your family member receives
        while
        in the ICU and afterwards.
    </div>


    <div class="section-head"><h3 class="text-primary text-center">What are the two options?</h3>
    </div>
    <div class="col-sm-6"><p class="text-center"><b>Option 1</b><br>Survival, no matter what it takes</p></div>
    <div class="col-sm-6"><p class="text-center"><b>Option 2</b><br>As comfortable as possible<br>So he or she does
        not suffer</p></div>


    <div>
        <img src="static/img/choose_bar.png" class="img-responsive center-block" width="700px">
        <!--TODO: Put the text in the center-->
        <div class="caption" style="text-align: center">
            Both options are explained in more detail over the next few pages.
        </div>
    </div>
{% endblock %}