{% extends 'layout.html' %}
{% block content %}
    <div class="section-head"><h3 class="text-primary text-center">What is your family member’s prognosis?</h3>
        <p>
            Many families want to know about their family member’s outlook (“prognosis”) and the possible long-term
            effects of TBI before making a decision on treatment.
        </p>
        <div class="alert alert-info" role="alert">
            <b>It is important to note that:</b>
            <ul>
                <li>There is a wide range of possible long-term effects after TBI
                <li>It is rare for doctors to be able to tell you for sure what the prognosis is
                <li>In most cases, there is a large degree of uncertainty
            </ul>
        </div>
        <br>
        <p>this is because the prognosis depends on many factors, including:</p>
        <ul>
            <li>Severity of the brain injury when it happened
            <li>Age of the person at the time of the injury
            <li>Health of the person before the brain injury
            <li>Status of the person’s memory and thinking ability before the brain injury
            <li>Blood pressure and oxygen levels of the person at the time of and right after the brain injury
            <li>Bleeding in the brain
            <li>Injuries to other organs (lung, belly, etc.)
            <li>Other complications in the icu (brain swelling, infections, etc.)
            <li>Ability and willingness of the person to overcome difficult times
            <li>Other unknown factors
        </ul>
    </div>
{% endblock %}