{% extends 'layout.html' %}
{% block content %}
    <div class="section-head"><h3 class="text-primary text-center"><b>How certain is the prognosis for your family member?
    </b></h3></div>
    <!--the paragraph in this page-->
    <p><b class="text-center">Every patient is different.</b></p>
    <p>It is impossible to predict exactly how your family member will react to treatment. Doctors can compare your
        family
        member’s situation to those of thousands of other TBI patients on record to produce a rough estimate of the
        prognosis. Still, it is impossible to take every factor into account.</p>
    <p><b class="text-center">There is a large degree of uncertainty in every prognosis.</b></p>
    <p>It is important that you ask your family member’s doctor to provide an estimate of the outlook, but keep in mind
        that no prognosis can be made with certainty. It may be helpful to have a range. Ask the doctor for a “best
        case”
        and a “worst case scenario.”</p>
    <p>
        On the next page you will see a rough estimate of what the doctor thinks your family member’s prognosis may be.
        This rough estimate <b>does not take every patient factor into account</b>. There remains a large amount of <b>uncertainty</b>
        in many patients of this type. Your family member’s doctor will be able to tell you more about the level of
        uncertainty in a prognosis for your family member.
    </p>
{% endblock %}