{% extends 'layout.html' %}
{% block content %}
    <div class="section-head"><h2 class="text-primary text-center">How a doctor may reach a TBI prognosis</h2>
    </div>
    <p>
        <b><u>Note:</u> This prognosis is based on your family member’s admission information for:</b><br>
        Age, how the pupils reacted to light, best motor response, oxygen levels at the accident scene or emergency
        room, blood pressure at the accident scene or emergency room, and head CT findings.<br>
    </p>
    <p><b>This prognosis does not include </b>health before the brain injury, injuries to other organs and clinical
        course and
        complications in the ICU. Ask the doctor in the meeting how these may change your family member’s prognosis.
    </p>
    <!--the paragraph in this page-->
    <p>At <i>6 months </i>after the brain injury: (PICTURES ARE CURRENTLY UNAVAILABLE)</p>
        <!--TODO: Add pictures-->
    <ul>
        <li>This forecast does not take every patient factor into account.
        <li>There remains a large amount of uncertainty in many patients of this type.
        <li>Your family member’s doctor will be able to tell you more about the level of uncertainty in a prognosis for
            your
            family member.
    </ul>
{% endblock %}