{% extends 'layout.html' %}
{% block content %}
    <div class="section-head"><h3 class="text-primary text-center">Two goals of care</h3>
    </div>
    <div style="padding-top:5%;padding-bottom: 5%">
        <table class="table table-responsive">
            <thead style="border-bottom: none">
            <tr>
                <th class="col-lg-5"><p class="alert alert-success text-center"><b>Survival</b><br>No matter
                    what
                    it takes</p></th>
                <th class="col-lg-2 text-center"><p>OR</p></th>
                <th class="col-lg-5"><p class="alert alert-success text-center"><b>Comfort</b><br>So (s)he does
                    not
                    suffer</p></th>
            </tr>
            </thead>
        </table>
    </div>

{% endblock %}