{% extends 'layout.html' %}
{% block content %}
    <div class="section-head"><h2 class="text-primary text-center">Two goals of care</h2>
    </div>
    <div class="img-center text-center">
        <img src="static/img/doubleArrow.png">
        <table class="table table-responsive">
            <thead style="border-style: hidden">
            <tr>
                <th class="col-lg-5"><p class="alert alert-success text-center"><b>Survival</b><br>No matter
                    what
                    it takes</p></th>
                <th class="col-lg-2 text-center"><p>OR</p></th>
                <th class="col-lg-5"><p class="alert alert-success text-center"><b>Comfort</b><br>So (s)he does
                    not
                    suffer</p></th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}