{% extends 'layout.html' %}
{% block content %}
    <div class="section-head"><h3 class="text-primary text-center">When <u>comfort</u> is the goal of care
    </h3>
    </div>
    <p>
        <b>Why choose comfort as the treatment goal (“comfort care”)?</b>
        <br>The patient:</p>
    <ul>
        <li>Has gone through enough discomfort in the ICU at this point.
        <li>Has a brain injury so severe that the chance of survival is extremely low.
        <li>Has said in the past that (s)he would not want to endure the treatments necessary to be kept
            alive.
        <li>Has made it clear in the past that (s)he would not want a lower quality of life.
    </ul>
    <p>
        <b>What happens when comfort is the treatment goal (“comfort care”)?</b></p>
    <p>When the family is ready, the bedside team will safely and carefully discontinue medications, except those
        that
        prevent suffering.</p>
    <p>Nurses experienced in providing comfort care will make sure your family member is not suffering; They will
        give
        medicines and nursing care to prevent pain and suffering, but they will do nothing to
        hasten the natural dying process.</p>
    <p>The expert staff will discontinue IV fluids, artificial feeding, breathing tube, and ventilator—measures
        which
        are keeping your family member alive.</p>
    <p>The patient will die, usually within hours to days after starting comfort care. <br>Family members and friends can stay with the patient during this time.</p>
    </ul>
{% endblock %}