<!--button division-->
{% if session['page'] == 1 %}
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <a href="/{{ (session['page']+1)|string}}">
                <button type="button" class="btn btn-primary pull-right">Next
                    <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </button>
            </a>
        </div>
    </div>

{% elif session['page'] == 18 %}
    <div class="row">
        <div class="col-md-6">
            <a href="/{{ (session['page']-1)|string}}">
                <button type="button" class="btn btn-primary pull-left">
                    <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous
                </button>
            </a>
        </div>
        <div class="col-md-6">
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-md-6">
            <a href="/{{ (session['page']-1)|string}}">
                <button type="button" class="btn btn-primary pull-left">
                    <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous
                </button>
            </a>
        </div>
        <div class="col-md-6">
            <a href="/{{ (session['page']+1)|string}}">
                <button type="button" class="btn btn-primary pull-right">Next
                    <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </button>
            </a>
        </div>
    </div>
{% endif %}
