<!--the head of this page-->
<ol>
    <li>
        What is the "goals of care" decision about?
        <ul>
            <li>
                {{session['ans2']}}
            </li>
        </ul>
    </li>
    <li>
        Why do you need to make a decision about your family member's goals of care?
        <ul>
            <li>
                {{session['ans3']}}
            </li>
        </ul>
    </li>
    <li>
        What is important to your loved one?
        <ul>
            <li>
                My family member wants to live as comfortably as possible.
                <ul>
                    <li>
                        {{session['ans4']}}
                    </li>
                </ul>
            </li>
            <li>
                My family member wants to live as long as possible, regardless of the quality of life.
                <ul>
                    <li>
                        {{session['ans5']}}
                    </li>
                </ul>
            </li>
            <li>
                For my family member a high quality of life is most important.
                <ul>
                    <li>
                        {{session['ans6']}}
                    </li>
                </ul>
            </li>
            <li>
                My family member does not want to be dependent on others away from home.
                <ul>
                    <li>
                        {{session['ans7']}}
                    </li>
                </ul>
            </li>
            <li>
                My family member would accept a tracheostomy and feeding tube to stay alive.
                <ul>
                    <li>
                        {{session['ans8']}}
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <div class="panel-heading">Where do you think your loved one would put themselves on the line
            below?
        </div>
        <div class="panel-body" style="font-style: italic">
            <div style="margin-top:10px; padding-top:20px;margin-bottom: 10px; padding-bottom: 50px">
                <input type="range" name="ans16" min="0" max="100" value={{session['ans9']}}
                       disabled>
                <h4 class="pull-left">Survival</h4>
                <h4 class="pull-right">Comfort</h4>
            </div>
        </div>
    </li>
    <li>
        The Goals of Care Options I'd like to know more:
        <ul>
            {% if session['opt1'] == 1%}
            <li>The reason why choosing to focus on survival</li>
            {% endif %}
            {% if session['opt2'] == 1%}
            <li>The reason why not choosing to focus on survival</li>
            {% endif %}
            {% if session['opt3'] == 1%}
            <li>The reason why choosing to focus on comfort</li>
            {% endif %}
            {% if session['opt4'] == 1%}
            <li>The reason why not choosing focus on comfort</li>
            {% endif %}
        </ul>
    </li>
    <li>
        How do you feel about this choice?
        <ul>
            <li>
                {{session['ans10']}}
            </li>
        </ul>
    </li>
</ol>
<!--the dropdown box-->