/*/*following are personalized style sheet*/

.jumbotron p {
    font-size: 19px;
    font-weight: 400;
    line-height: 160%;
}

.text {
    font-size: 19px;
}

.tabletext {
    line-height: 180%;
    font-size: 16px;
    font-weight: normal;
}

.alert-info {
    font-size: 19px;
    font-family: Arial, Sans-Serif;
    line-height: 140%;
}

/*h3 {*/
/*font-family: Arial, Sans-Serif;*/
/*font-size: 35px;*/
/*}*/

.section-head {
    /*background-color: #bed6ed;*/
    padding-bottom: 10px;
}

ul {
    font-family: Arial, Times, serif;
    line-height: 160%;
    font-family: Sans-Serif;
    font-size: 19px;
}

ol {
    font-family: Arial, Times, serif;
    line-height: 160%;
    font-family: Sans-Serif;
    font-size: 19px;
}

.nav {
    font-size: 100%;
    line-height: 180%;
}

.arrow {
    animation: slide1 1s ease-in-out infinite;
}

@keyframes slide1 {
    0%,
    100% {
        transform: translate(-10px, 0);
    }

    50% {
        transform: translate(0px, 0);
    }
}

