
<form action="/admin/main/result" method="post">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-3">
            <label for="ref_num">Search by Reference Number:</label>
            <input type="number" class="form-control" id="ref_num" name="ref_num">
        </div>
        <div class="col-md-3">
            <label for="ref_num">Search by E-mail:</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="col-md-4">
            <input type="submit" class="hidden" name="submit" id="submit">
            <label for="submit" type="button" class="btn btn-primary btn-lg" style="margin-top: 5%">Search
                <span class="glyphicon" aria-hidden="true"></span>
            </label>
            <a href="{{url_for('admin_listall')}}">
                <button type="button" class="btn btn-primary btn-lg" style="margin-top: 5%">List all
                    <span class="glyphicon glyphicon" aria-hidden="true"></span>
                </button>
            </a>
        </div>
    </div>
</form>