<!--the head of HTML file-->
{% include 'include/head.html' %}
<body>
<!--the head navbar of the website-->
{% include 'include/navbar.html' %}
<!--container of the whole content of the tool-->
<div class="container">
    {% include 'include/pagetitle.html' %}
    <!--the navigation bar-->
    <div id="tab"></div>
</div>
<div class="container">
    <!--the container for the main content-->
    <div class="col-md-4" style="padding-top: 30px"></div>

    <div class="col-md-4" style="padding-top: 30px">
        <div class="form-group well well-bg">
            <form action="/admin/main" method="post">
                <label for="username">Admin ID:</label>
                <input type="text" class="form-control" id="username" name="username">

                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password">

                <div style="margin-top:20px;margin-bottom: 20px;padding-bottom: 20px">
                    <input type="submit" id="login" class="hidden">
                    <label for="login" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Login
                    </label>
                </div>
            </form>
            {% if alertmsg %}
            <div class="alert alert-warning text-center" role="alert">
                {{ alertmsg }}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="col-md-4" style="padding-top: 30px"></div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>