{% extends 'layout.html' %}
{% block container %}
<div class="container">
    <!--the container for the main content-->
    <div class="col-md-4" style="padding-top: 30px"></div>

    <div class="col-md-4" style="padding-top: 30px">
        <div class="form-group well well-bg">
            <form action="/admin/main" method="post">
                <label for="username">Admin ID:</label>
                <input type="text" class="form-control" id="username" name="username">

                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password">

                <div style="margin-top:20px;margin-bottom: 20px;padding-bottom: 20px">
                    <input type="submit" id="login" class="hidden">
                    <label for="login" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Login
                    </label>
                </div>
            </form>
            {% if alertmsg %}
            <div class="alert alert-warning text-center" role="alert">
                {{ alertmsg }}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="col-md-4" style="padding-top: 30px"></div>
</div>
{% endblock %}