{% if page == 1 %}
<a href="{{url_for('page_2')}}">
    <button type="button" class="btn btn-primary btn-lg pull-right" style="margin-bottom: 5%">Next
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </button>
</a>
{% elif page == 2%}
<a href="{{url_for('page_1')}}">
    <button type="button" class="btn btn-primary btn-lg pull-left" style="margin-bottom: 5%">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous
    </button>
</a>
<a href="{{url_for('page_3')}}">
    <button type="button" class="btn btn-primary btn-lg pull-right" style="margin-bottom: 5%">Start
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </button>
</a>
{% elif page == 10 %}
<a href="{{url_for('page_9')}}">
    <button type="button" class="btn btn-primary btn-lg pull-left" style="margin-bottom: 5%">
        <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous
    </button>
</a>
<button type="button" class="btn btn-primary btn-lg pull-right" style="margin-bottom: 5%" id="next">Next
    <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
</button>

{% elif page == 11 %}
<a href="{{url_for('page_10')}}">
    <button type="button" class="btn btn-primary btn-lg pull-left" style="margin-bottom: 5%">
        <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous
    </button>
</a>
<button type="button" class="btn btn-primary btn-lg pull-right" style="margin-bottom: 5%" id="next">Next
    <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
</button>
{% elif page == 14 %}
<a href="{{url_for('page_13')}}">
    <button type="button" class="btn btn-primary btn-lg pull-left" style="margin-bottom: 5%">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous
    </button>
</a>
<label for="submit_page_14" class="btn btn-primary btn-lg pull-right" style="margin-bottom: 5%">Next
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
</label>
{% elif page == 15%}
<a href="{{url_for('page_14')}}">
    <button type="button" class="btn btn-primary btn-lg pull-left" style="margin-bottom: 5%">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous
    </button>
</a>
<label for="submit-answer" class="btn btn-primary btn-lg pull-right" style="margin-bottom: 5%" id="review_btn">
    <!--TODO: the icon of submit button -->
    Save and review
</label>

{% elif page == 18 %}
<a href="{{url_for('page_'+(page-1)|string)}}">
    <button type="button" class="btn btn-primary btn-lg pull-left" style="margin-bottom: 5%">
        <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous
    </button>
</a>

{% else %}
<a href="{{url_for('page_'+(page-1)|string)}}">
    <button type="button" class="btn btn-primary btn-lg pull-left" style="margin-bottom: 5%">
        <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous
    </button>
</a>
<a href="{{url_for('page_'+(page+1)|string)}}">
    <button type="button" class="btn btn-primary btn-lg pull-right" style="margin-bottom: 5%">Next
        <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </button>
</a>
{% endif %}