<div class="jumbotron">
        <!--the head of this page-->
        <div class="section-head"><h3 class="text-center">Report Preview
        </h3></div>
        <br>
        <div class="container">
            <ul>
                <p>
                <div class="panel panel-primary">
                    <div class="panel-heading">How do you feel about making a decision?</div>
                    <div class="panel-body" style="font-style: italic">
                        {% if session['ans1'] != '' %}
                        <ul>
                            <li><i>{{session['ans1']}}</i></li>
                        </ul>
                        {% else %}
                        <ul>
                            <li><i>No answer submitted</i></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">1) What is the “goals of care” decision about?</div>
                    <div class="panel-body" style="font-style: italic">
                        {% if session['ans2'] != '' %}
                        <ul>
                            <li><i>{{session['ans2']}}</i></li>
                        </ul>
                        {% else %}
                        <ul>
                            <li><i>No answer submitted</i></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">2) Why do you need to make a decision about your family member’s goals of
                        care?
                    </div>
                    <div class="panel-body" style="font-style: italic">
                        {% if session['ans3'] != '' %}
                        <ul>
                            <li><i>{{session['ans3']}}</i></li>
                        </ul>
                        {% else %}
                        <ul>
                            <li><i>No answer submitted</i></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">What is important to your loved one?</div>
                    <div class="panel-body" style="font-style: italic">
                        <table class="table-bordered tabletext">
                            <thead>
                            <tr>
                                <th>
                                </th>
                                <th class="col-md-1 text-center">
                                    Not important
                                </th>
                                <th class="col-md-1 text-center">
                                </th>
                                <th class="col-md-1 text-center">
                                    Very important
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>My family member wants to live as comfortably as possible.</td>
                                <td class="text-center">
                                    {% if session['ans4'] == 1 %}
                                    <input type="radio" value=1 name="ans4" checked>
                                    {% else %}
                                    <input type="radio" value=1 name="ans4" disabled>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if session['ans4'] == 2 %}
                                    <input type="radio" value=2 name="ans4" checked>
                                    {% else %}
                                    <input type="radio" value=2 name="ans4" disabled>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if session['ans4'] == 3 %}
                                    <input type="radio" value=3 name="ans4" checked>
                                    {% else %}
                                    <input type="radio" value=3 name="ans4" disabled>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>My family member wants to live as long as possible, regardless of the quality of
                                    life.
                                </td>
                                <td class="text-center">
                                    {% if session['ans5'] == 1 %}
                                    <input type="radio" value=1 name="ans5" checked>
                                    {% else %}
                                    <input type="radio" value=1 name="ans5" disabled>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if session['ans5'] == 2 %}
                                    <input type="radio" value=2 name="ans5" checked>
                                    {% else %}
                                    <input type="radio" value=2 name="ans5" disabled>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if session['ans5'] == 3 %}
                                    <input type="radio" value=3 name="ans5" checked>
                                    {% else %}
                                    <input type="radio" value=3 name="ans5" disabled>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>For my family member a high quality of life is most important.</td>
                                <td class="text-center">
                                    {% if session['ans6'] == 1 %}
                                    <input type="radio" value=1 name="ans6" checked>
                                    {% else %}
                                    <input type="radio" value=1 name="ans6" disabled>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if session['ans6'] == 2 %}
                                    <input type="radio" value=2 name="ans6" checked>
                                    {% else %}
                                    <input type="radio" value=2 name="ans6" disabled>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if session['ans6'] == 3 %}
                                    <input type="radio" value=3 name="ans6" checked>
                                    {% else %}
                                    <input type="radio" value=3 name="ans6" disabled>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>My family member does not want to be dependent on others away from home.</td>
                                <td class="text-center">
                                    {% if session['ans7'] == 1 %}
                                    <input type="radio" value=1 name="ans7" checked>
                                    {% else %}
                                    <input type="radio" value=1 name="ans7" disabled>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if session['ans7'] == 2 %}
                                    <input type="radio" value=2 name="ans7" checked>
                                    {% else %}
                                    <input type="radio" value=2 name="ans7" disabled>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if session['ans7'] == 3 %}
                                    <input type="radio" value=3 name="ans7" checked>
                                    {% else %}
                                    <input type="radio" value=3 name="ans7" disabled>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>My family member would accept a tracheostomy and feeding tube to stay alive.</td>
                                <td class="text-center">
                                    {% if session['ans8'] == 1 %}
                                    <input type="radio" value=1 name="ans8" checked>
                                    {% else %}
                                    <input type="radio" value=1 name="ans8" disabled>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if session['ans8'] == 2 %}
                                    <input type="radio" value=2 name="ans8" checked>
                                    {% else %}
                                    <input type="radio" value=2 name="ans8" disabled>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if session['ans8'] == 3 %}
                                    <input type="radio" value=3 name="ans8" checked>
                                    {% else %}
                                    <input type="radio" value=3 name="ans8" disabled>
                                    {% endif %}
                                </td>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Where do you think your loved one would put themselves on the line
                        below?
                    </div>
                    <div class="panel-body" style="font-style: italic">
                        <div style="margin-top:10px; padding-top:20px;margin-bottom: 10px; padding-bottom: 50px">
                            <input type="range" name="ans16" min="0" max="100" id="ans16" value={{session['ans9']}}
                                   disabled>
                            <h4 class="pull-left">Survival</h4>
                            <h4 class="pull-right">Comfort</h4>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Your Goals of Care Options</div>
                    <div class="panel-body">
                        <table class="table-bordered tabletext">
                            <thead>
                            <tr>
                                <th class="col-md-4">
                                    <h4><b>Goals of care option</b></h4>
                                </th>
                                <th class="col-md-4">
                                    <h4><b>Reasons to choose this option</b></h4>
                                </th>
                                <th class="col-md-4">
                                    <h4><b>Reasons not to choose this option</b></h4>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th style="font-weight:normal">
                                    <b>“Do everything”:
                                        Focus on <u>survival</u></b><br>
                                    Tracheostomy and feeding tube placement is done, followed by placement in LTACH or
                                    nursing home,
                                    sometimes acute rehab when the patient is ready.
                                </th>
                                {% if session['opt1'] == 1 %}
                                <th style="font-weight:normal; color: #229922">
                                {% else %}
                                <th style="font-weight:normal">
                                {% endif %}
                                    <ul>
                                        <li>Best chance to stay alive.
                                        <li>Patient will have a quality of life that he/she finds acceptable.
                                        <li>Patient has said in the past to keep him/her alive at all cost.
                                        <li>Patient would feel OK with being uncomfortable from lying in bed or working
                                            hard during therapy
                                            sessions.
                                    </ul>
                                </th>
                                {% if session['opt2'] == 1 %}
                                <th style="font-weight:normal; color: #229922">
                                {% else %}
                                <th style="font-weight:normal">
                                {% endif %}
                                    <ul>
                                        <li>Additional treatments can be painful.
                                        <li>Patient does not want to be dependent on others to live.
                                        <li>Patient does not want a tracheostomy or feeding tube.
                                        <li>Patient may still die and will have pain from additional treatments.
                                    </ul>

                                </th>
                            </tr>

                            <tr>
                                <th style="font-weight:normal">
                                    <b>“No suffering”: Focus on <u>comfort</u></b><br>
                                    Transition to comfort care is provided when the family is ready.
                                </th>
                                {% if session['opt3'] == 1 %}
                                <th style="font-weight:normal; color: #229922">
                                {% else %}
                                <th style="font-weight:normal">
                                {% endif %}
                                    <ul>
                                        <li>Unlikely that patient will have an acceptable quality of life.
                                        <li>Patient has suffered enough; family wants him/her to be comfortable.
                                    </ul>

                                </th>
                                {% if session['opt4report.html'] == 1 %}
                                <th style="font-weight:normal; color: #229922">
                                {% else %}
                                <th style="font-weight:normal">
                                {% endif %}
                                    <ul>
                                        <li>Without life support, the patient will die.
                                        <li>Patient would choose to have advanced treatments and live in a nursing home.
                                    </ul>

                                </th>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">3. How do you feel about this choice?</div>
                    <div class="panel-body" style="font-style: italic">
                        {% if session['ans10'] != '' %}
                        <ul>
                            <li><i>{{session['ans10']}}</i></li>
                        </ul>
                        {% else %}
                        <ul>
                            <li><i>No answer submitted</i></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </ul>
        </div>
        <!--the dropdown box-->
    </div>