<div class="">
    <!--the tabs-->
    <ul class="nav nav-pills nav-justified">
        {% if page == 1 or page == 2 %}
        <li class="dropdown active">
            {% else %}
        <li class="dropdown">
            {% endif %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Overview<br>
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('page_1')}}">Welcome</a></li>
                <li><a href="{{url_for('page_2')}}">Aims & Contents</a></li>
            </ul>
        </li>
        {% if page == 3 %}
        <li class="dropdown active">
            {% else %}
        <li class="dropdown">
            {% endif %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mechanical Ventilator
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('page_3')}}">What is a mechanical ventilator?</a></li>
                <li><a href="{{url_for('page_3')}}">What is like to be on a ventilator?</a></li>
            </ul>
        </li>
        {% if page == 4 or page == 5 %}
        <li class="dropdown active">
            {% else %}
        <li class="dropdown">
            {% endif %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">The decision to make
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('page_4')}}">What decision am I being asked to make?</a></li>
                <li><a href="{{url_for('page_4')}}">What is the most important for your loved one right now?</a></li>
                <li><a href="{{url_for('page_5')}}">What are the different treatment goals for my loved one?</a></li>
            </ul>
        </li>
        {% if page == 6 or page == 7 %}
        <li class="dropdown active">
            {% else %}
        <li class="dropdown">
            {% endif %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Prognosis<br>
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('page_6')}}">What is my loved one's outlook?<br/>What are the long-term effects
                    from the TBI?</a></li>
                <li><a href="{{url_for('page_7')}}">How certain or uncertain is the outlook for my loved one?</a></li>
            </ul>
        </li>
        {% if page == 8 or page == 9 or page == 10 or page == 11 or page == 12%}
        <li class="dropdown active">
            {% else %}
        <li class="dropdown">
            {% endif %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Two options<br>
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('page_8')}}">Introduction</a></li>
                <li><a href="{{url_for('page_9')}}">What does it mean to have comfort at the goal of care?</a></li>
                <li><a href="{{url_for('page_10')}}">What is the treatment that focuses on Maxine survival?</a></li>
                <li><a href="{{url_for('page_11')}}">If I choose survival as the goal of care, what happens with my
                    loved one after they leave the ICU?</a></li>
                <li><a href="{{url_for('page_12')}}">Comparing and summarizing different treatment options</a></li>
            </ul>
        </li>
        </li>
        {% if page == 13 or page == 14 %}
        <li class="dropdown active">
            {% else %}
        <li class="dropdown">
            {% endif %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Making the decision
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('page_13')}}">How do I make this decision?</a></li>
                <li><a href="{{url_for('page_14')}}">Are you still unsure?</a></li>
            </ul>
        </li>
        {% if page == 15 or page == "review" %}
        <li class="dropdown active">
            {% else %}
        <li class="dropdown">
            {% endif %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Worksheet<br>
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('page_15')}}">Worksheet</a></li>
                <li><a href="{{url_for('page_report')}}">Review</a></li>
            </ul>
        </li>
        {% if page == 16 or page == 17 or page == 18%}
        <li class="dropdown active">
            {% else %}
        <li class="dropdown">
            {% endif %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Patient Examples<br>
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('page_15')}}">Patient Examples</a></li>
                <li><a href="{{url_for('page_16')}}">Example 1</a></li>
                <li><a href="{{url_for('page_17')}}">Example 2</a></li>
            </ul>
        </li>

    </ul>
</div>