<!--the head of HTML file-->
{% include 'head.html' %}
<!--the head navbar of the website-->
{% include 'navbar.html' %}
<!--container of the whole content of the tool-->
<div class="container">
    <h2 class="text-center">
        Goals-of-Care after Traumatic Brain Injury Decision Aid Prototype
    </h2>
    <br/>
    <!--the tabs-->
    {% include 'tab.html' %}
    <!--the text box to put the main context-->
    <div class="jumbotron">
        <!--button division-->
        <div class="row">
            <a href="">
                <div class="col-md-6">
                    <!--<button type="button" class="btn btn-primary pull-left" style="margin-bottom: 5%">-->
                    <!--<span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>-->
                    <!--</button>-->
                </div>
            </a>
            <div class="col-md-6">
                <a href="{{url_for('page_2')}}">
                    <button type="button" class="btn btn-primary pull-right" style="margin-bottom: 5%">
                        <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </button>
                </a>
            </div>
        </div>
        <div class="section-head"><h3 class="text-center">Welcome</h3></div>
        <br>
        <p>
            Your loved one has a serious traumatic brain injury (TBI) and has been in the Intensive Care Unit (ICU) for
            several days now.
        </p>
        <p>
            He/She is currently not able to make medical decisions. Because your loved one cannot tell us what treatment
            plan he/she would want, your help is needed. We have arrived at a point at which you are asked to make a
            very important decision for him/her, called the
            <b>
                “goals of care” decision
            </b>
        </p>
        <p>
            This decision is easy for some, but difficult for most. We have created this tool (decision aid) to help you
            understand the decision and the choices, and to help you decide on the
            <i>
                best choice for your loved one.
            </i>
            This tool was made with input from people like you who have made this decision in the past.
            <b>
                This tool will NOT replace the meeting with the doctor but will help you when you talk to the doctor
                about the decision and the choices.
            </b>
        </p>
        <p>
        </p>
        <div>
            <ul>
                <li>This will take about 20 minutes.</li>
                <li>Please read each page.</li>
                <li>Please fill out the worksheet in the end.</li>
                <li>This will help when you talk about the choices with the doctor.</li>
                <li>Write down any additional questions you may still have in the feedback box.</li>
            </ul>
        </div>
        <!--TODO: add a check-->
        <p><b>Bring the completed worksheet and a list of questions to the meeting with the doctor.</b></p>

    </div>
    <!--<button type="button" onclick="next_page()" class="btn btn-primary btn-lg pull-right" style="margin-bottom: 5%">Next-->
    <!--<span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>-->
    <!--</button>-->
    <a href="{{url_for('page_2')}}">
        <button type="button" class="btn btn-primary btn-lg pull-right" style="margin-bottom: 5%">Next
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </button>
    </a>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>