<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Goals-of-Care after Traumatic Brain Injury Decision Aid Prototype</title>

    <!--Bootstrap on server-->
    <link href="{{ url_for ('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
    <!--Bootstrap on local-->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <!--Bootstrap on CDN-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <!--the head navbar of the website-->
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Brand</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                  <li><a href="#">Link</a></li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">One more separated link</a></li>
                      </ul>
                  </li>
              </ul>
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>

  <!--container of the whole content of the tool-->
  <div class="container">
        <h2 class = "text-center">
            Goals-of-Care after Traumatic Brain Injury Decision Aid Prototype
        </h2>
        <br/>
        <div class="">
            <!--the navigation bar-->
            <ul class="nav nav-pills nav-justified">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Overview<br/><br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_1')}}">Welcome</a></li>
                        <li><a href="{{url_for('page_2')}}">Aims & Contents</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mechanical Ventilator<br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_3')}}">What is a mechanical ventilator?</a></li>
                        <li><a href="{{url_for('page_3')}}">What is like to be on a ventilator?</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">What should you decide?<br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_4')}}">What decision am I being asked to make?</a></li>
                        <li><a href="{{url_for('page_4')}}">What is the most important for your loved one right now?</a></li>
                        <li><a href="{{url_for('page_5')}}">What are the different treatment goals for my loved one?</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Patient Outlook<br/><br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_6')}}">What is my loved one's outlook?<br/>What are the long-term effects from the TBI?</a></li>
                        <li><a href="{{url_for('page_7')}}">How certain or uncertain is the outlook for my loved one?</a></li>
                    </ul>
                </li>
                <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Treatment Options<br/><br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_8')}}">Introduction</a></li>
                        <li><a href="{{url_for('page_9')}}">What does it mean to have comfort at the goal of care?</a></li>
                        <li><a href="{{url_for('page_10')}}">What is the treatment that focuses on Maxine survival?</a></li>
                        <li><a href="{{url_for('page_11')}}">If I choose survival as the goal of care, what happens with my loved one after they leave the ICU?</a></li>
                        <li><a href="{{url_for('page_12')}}">Comparing and summarizing different treatment options</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Making Decision<br/><br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_13')}}">How do I make this decision?</a></li>
                        <li><a href="{{url_for('page_14')}}">Are you still unsure?</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Patient Examples<br/><br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_15')}}">Patient Examples</a></li>
                        <li><a href="{{url_for('page_16')}}">Example 1</a></li>
                        <li><a href="{{url_for('page_17')}}">Example 2</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Worksheet & Questions<br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!--TODO: Click the dropdown and open the collaspse-->
                        <li><a href="{{url_for('page_18')}}">1) What do you understand about the outlook of your loved one, and the options?</a></li>
                        <li><a href="{{url_for('page_18')}}">2) What would your loved one want?</a></li>
                        <li><a href="{{url_for('page_18')}}">3) How is this choice making you feel?</a></li>
                        <li><a href="{{url_for('page_18')}}">4) What questions do you need answered before you can decide?</a></li>
                        <li><a href="{{url_for('page_18')}}">5) Comfort or survival</a></li>
                    </ul>
                </li>
            </ul>
        </div>



        <!--the text box to put the main context-->
        <div class="jumbotron">
            <!--button division-->
            <div class="row">
                <a href="{{url_for('page_10')}}">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary pull-left" style="margin-bottom: 5%">
                        <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        </button>
                    </div>
                </a>
                <a href="{{url_for('page_12')}}">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary pull-right" style="margin-bottom: 5%">
                            <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        </button>
                    </div>
                </a>
            </div>
            <!--the head of this page-->
            <div class = "section-head"><h3 class="text-center">IF I CHOOSE SURVIVAL AS THE GOAL OF CARE, WHAT HAPPENS WITH MY LOVED ONE AFTER THEY LEAVE THE ICU?</h3></div><br>
            <!--the paragraph in this page-->
            <p>
                After the trach and feeding tube placement, the doctor decides when your loved one is ready to leave the ICU. They need additional care to get better, which is not provided in the ICU. They will not be able to go home because they need further medical care and rehabilitation. There are different types of places specialized in caring for people recovering from TBI. Different places provide different levels of care. <b>Your loved one’s medical and nursing needs determine which type of place they go to</b> after the ICU:
            </p>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Acute Rehabilitation Hospital</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                  <div class="panel-body">
                      <b>Very few serious TBI patients go here directly.</b> Patients who go here are generally very stable and wide awake. They must be able to take part in at least 3 hours of therapy per day for 5-7 days per week. It is focused on providing intense physical, occupational, and speech therapies. Patients who still require a breathing machine, or frequent suctioning through the trach, or are too sleepy, cannot go here until they get better. Patients are treated here for several weeks.
                      <div class="row">
                        <div class="col-md-4">
                            <img src="static/img/speech_therapy.jpg" class="img-responsive">
                        </div>
                        <div class="col-md-4">
                            <img src="static/img/speech_therapy_2.jpg" class="img-responsive">
                        </div>
                        <div class="col-md-4">
                            <img src="static/img/PTon_bars.jpg" class="img-responsive">
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Long-Term Acute Care Hospital (LTACH)</a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">
                      This place is able to provide more complex medical care than an acute rehabilitation hospital. <b>Patients are sicker and dependent on help</b>, and for this reason therapy sessions are usually fewer and less intense. Those patients who get better can be transferred to an acute rehabilitation hospital later.
                      <img src="static/img/Vented_pt_Vibra.jpg" class="img-responsive">
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    Skilled Nursing Facility (SNF)</a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                      This place is different from a hospital and patients are usually quite stable but need full nursing care due to the effects from their injuries. <b>Patients may be here for a long period of time, or even the rest of their lives.</b> Patients are too ill to take part in several hours of therapy per day. Transition to LTACH or acute rehabilitation hospital is possible, but less likely due to the patient’s high level of sickness and dependence on others.
                      <div class="row">
                          <div class="col-md-6">
                              <img src="static/img/Trach_Mask_pt_Vibra.jpg" class="img-responsive">
                          </div>
                          <div class="col-md-6">
                              <img src="static/img/Nursing_home.jpg" class="img-responsive">
                          </div>
                      </div>

                  </div>
                </div>
              </div>
            </div>
        </div>
        <a href="{{url_for('page_10')}}">
            <button type="button" class="btn btn-primary btn-lg pull-left" style="margin-bottom: 5%">
                <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous
            </button>
        </a>
        <a href="{{url_for('page_12')}}">
            <button type="button" class="btn btn-primary btn-lg pull-right" style="margin-bottom: 5%">Next
                <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </button>
        </a>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>