<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Goals-of-Care after Traumatic Brain Injury Decision Aid Prototype</title>

    <!--Bootstrap on server-->
    <link href="{{ url_for ('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
    <!--Bootstrap on local-->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <!--Bootstrap on CDN-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <!--the head navbar of the website-->
<nav class="navbar navbar-default">   <div class="container-fluid">       <!-- Brand and toggle get grouped for better mobile display -->       <div class="navbar-header">           <a href="https://www.umassmed.edu/">               <img src="static/icon/logo-trans.png" class="img-responsive" width="130" height="40">           </a>       </div>       <!-- Collect the nav links, forms, and other content for toggling -->       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">           <ul class="nav navbar-nav">               <li><a href="{{url_for('homepage')}}">Home<span class="sr-only">(current)</span></a></li>               <li><a href="#">Introduction</a></li>               <li><a href="#">Contact Us</a></li>           </ul>       </div><!-- /.navbar-collapse -->   </div><!-- /.container-fluid --> </nav>
  <!--container of the whole content of the tool-->
  <div class="container">
        <h2 class = "text-center">
            Goals-of-Care after Traumatic Brain Injury Decision Aid Prototype
        </h2>
        <br/>
        <div class="">
            <!--the navigation bar-->
            <ul class="nav nav-pills nav-justified">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Overview<br/><br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_1')}}">Welcome</a></li>
                        <li><a href="{{url_for('page_2')}}">Aims & Contents</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mechanical Ventilator<br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_3')}}">What is a mechanical ventilator?</a></li>
                        <li><a href="{{url_for('page_3')}}">What is like to be on a ventilator?</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">What should you decide?<br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_4')}}">What decision am I being asked to make?</a></li>
                        <li><a href="{{url_for('page_4')}}">What is the most important for your loved one right now?</a></li>
                        <li><a href="{{url_for('page_5')}}">What are the different treatment goals for my loved one?</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Patient Outlook<br/><br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_6')}}">What is my loved one's outlook?<br/>What are the long-term effects from the TBI?</a></li>
                        <li><a href="{{url_for('page_7')}}">How certain or uncertain is the outlook for my loved one?</a></li>
                    </ul>
                </li>
                <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Treatment Options<br/><br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_8')}}">Introduction</a></li>
                        <li><a href="{{url_for('page_9')}}">What does it mean to have comfort at the goal of care?</a></li>
                        <li><a href="{{url_for('page_10')}}">What is the treatment that focuses on Maxine survival?</a></li>
                        <li><a href="{{url_for('page_11')}}">If I choose survival as the goal of care, what happens with my loved one after they leave the ICU?</a></li>
                        <li><a href="{{url_for('page_12')}}">Comparing and summarizing different treatment options</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Making Decision<br/><br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_13')}}">How do I make this decision?</a></li>
                        <li><a href="{{url_for('page_14')}}">Are you still unsure?</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Patient Examples<br/><br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_15')}}">Patient Examples</a></li>
                        <li><a href="{{url_for('page_16')}}">Example 1</a></li>
                        <li><a href="{{url_for('page_17')}}">Example 2</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Worksheet & Questions<br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!--TODO: Click the dropdown and open the collaspse-->
                        <li><a href="{{url_for('page_18')}}">1) What do you understand about the outlook of your loved one, and the options?</a></li>
                        <li><a href="{{url_for('page_18')}}">2) What would your loved one want?</a></li>
                        <li><a href="{{url_for('page_18')}}">3) How is this choice making you feel?</a></li>
                        <li><a href="{{url_for('page_18')}}">4) What questions do you need answered before you can decide?</a></li>
                        <li><a href="{{url_for('page_18')}}">5) Comfort or survival</a></li>
                    </ul>
                </li>
            </ul>
        </div>



        <!--the text box to put the main context-->
        <div class="jumbotron">
            <!--button division-->
            <div class="row">
                <a href="{{url_for('page_11')}}">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary pull-left" style="margin-bottom: 5%">
                        <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        </button>
                    </div>
                </a>
                <a href="{{url_for('page_13')}}">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary pull-right" style="margin-bottom: 5%">
                            <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        </button>
                    </div>
                </a>
            </div>
            <!--the head of this page-->
            <div class = "section-head"><h3 class="text-center">COMPARING AND SUMMARIZING DIFFERENT TREATMENT OPTIONS</h3></div><br>
            <!--the paragraph in this page-->
            <table class="table">
                <thead>
                  <tr>
                    <th> </th>
                      <th class="info text-center">Reasons why families <u>choose</u> this option</th>
                      <th class="info text-center">Reasons why families might <u>avoid</u> this option</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td class="info text-center"><h4>“Do everything”</h4><br/><br/>
                        Advanced Medical Care focused on <u>survival</u>
                    </td>
                    <td class="bg-warning">
                        <ul>
                            <li>
                                It gives the patient the best chance of staying alive, even if just for a while.
                            </li>
                            <li>
                                Decision makers and family believe that the patient will have a quality of life acceptable to the patient if he/she survives
                            </li>
                        </ul>
                    </td>
                    <td class="bg-warning">
                        <ul>
                            <li>
                                Additional treatments can be painful, or make the patient uncomfortable
                            </li>
                            <li>
                                The patient has told them that they do not wish to be dependent on others to live.
                            </li>
                            <li>
                                They know that the patient does not want a trach or feeding tube, even if just temporarily
                            </li>
                            <li>
                                The patient may still die, even with advanced treatments and suffer along the way
                            </li>
                        </ul>
                    </td>
                  </tr>
                  <tr class="bg-primary">
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr class="bg-info">
                    <td class="text-center">
                        <h4>“No suffering”</h4><br/><br/>
                        Medical care founsed on comfort
                    </td>
                    <td class="bg-warning">
                        <ul>
                            <li>
                                It is unlikely that the patient will have a quality of life acceptable to the patient
                            </li>
                            <li>
                                They believe that the patient has suffered enough, and they want them to be comfortable and at peace
                            </li>
                        </ul>
                    </td>
                    <td class="bg-warning">
                        <ul>
                            <li>
                                Without life supporting treatments, the patient will pass away
                            </li>
                            <li>
                                The patient would choose tubes, procedures and going to a nursing home if they were able to speak for themselves
                            </li>
                        </ul>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
        <a href="{{url_for('page_11')}}">
            <button type="button" class="btn btn-primary btn-lg pull-left" style="margin-bottom: 5%">
                <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous
            </button>
        </a>
        <a href="{{url_for('page_13')}}">
            <button type="button" class="btn btn-primary btn-lg pull-right" style="margin-bottom: 5%">Next
                <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </button>
        </a>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>