<!--the head of HTML file-->
{% include 'head.html' %}
<body>
<!--the head navbar of the website-->
{% include 'navbar.html' %}
<!--container of the whole content of the tool-->
<div class="container">
    <h2 class="text-center">
        Goals-of-Care after Traumatic Brain Injury Decision Aid Prototype
    </h2>
    <br/>
    <!--the tabs-->
    {% include 'tab.html' %}
    <!--the text box to put the main context-->
    <div class="jumbotron">
        <!--the head of this page-->
        <!--button division-->
        <div class="row">
            <div class="col-md-6">
                <a href="{{url_for('page_16')}}">
                    <button type="button" class="btn btn-primary pull-left" style="margin-bottom: 5%">
                        <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    </button>
                </a>
            </div>
            <div class="col-md-6">
                <a href="{{url_for('page_18')}}">
                    <button type="button" class="btn btn-primary pull-right" style="margin-bottom: 5%">
                        <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </button>
                </a>
            </div>
        </div>
        <div class="section-head"><h3 class="text-center">Example 2</h3></div>
        <br>
        <!--the paragraph in this page-->
        <p>
            Mr. Alvarez is a 76-year-old man with diabetes who was struck by a car while crossing the road. He has many
            areas of bleeding located deep inside his brain, and is in a coma. He also has a broken leg and many broken
            ribs. One of his broken ribs has injured his lungs. While in the hospital, he gets an infection in his lungs
            (pneumonia). Mr. Alvarez:
        </p>
        <ul>
            <li>
                Is an older man with some chronic medical problems, which are controlled
            </li>
            <li>
                Has a complicated brain injury
            </li>
            <li>
                Has other injuries to his body, including his lungs
            </li>
            <li>
                Has an infection while in the hospital
            </li>
        </ul>

        <p>
            The doctor thinks that Mr. Alvarez won’t be able to breathe or eat on his own any time soon, if ever. The
            doctor expects that his chance of surviving 6 months is low. He may improve to some degree, but will
            probably never be independent again. Whether he may go home ever again is unclear. It’s unlikely because he
            lives alone, and his children have their own families and jobs and won’t be able to look after him all day
            long. The doctor asks the daughter to help decide which goals of care best align with Mr. Alvarez’s values
            and preferences.
        </p>
        <p>
            This is an example of how the daughter may fill out the worksheet to help her decide about which general
            goal of care is best for her father:
        </p>
        <div class="section-head"><h3 class="text-center">Worksheet for Example 2, Mr. Alvarez</h3></div>
        <br>
        <!--the paragraph in this page-->
        <div class="panel panel-primary">
            <div class="panel-heading">1) What do you understand about the outlook of your loved one, and the options?
            </div>
            <div class="panel-body" style="font-style: italic">“The chance of surviving and also being independent again
                is low. He has a high chance of dying soon no matter what choice we make. He would definitely need to go
                to a nursing home if we choose survival as the primary goal. He would definitely need a trach and
                feeding tube. There are definite pros and cons for both decisions. It makes me sad. But I need to think
                about what my dad would want.”
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">2) What would your loved one want?</div>
            <div class="panel-body" style="font-style: italic">“My dad is a very independent person who loved life. He
                loved walking to the library and playing chess with his friends. He liked to cook for himself and the
                whole family during family gatherings. He was already very limited in how far he could travel and go due
                to his diabetes, and he did not like that. Now, his quality of life would be much much lower. Without
                his chess or cooking he would not want to just be alive. He would not want to go on with the outlook to
                be dependent on others.”
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">3) How is this choice making you feel?</div>
            <div class="panel-body" style="font-style: italic">“It makes me very sad, but at the same time, I know I
                have to decide what’s right for my dad, and I need to decide what he would want.”
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">4) What questions do you need answered before you can decide?</div>
            <div class="panel-body" style="font-style: italic">“I have to talk to my brother and sister about this to
                find out what they think. I don’t feel pressured about this. I don’t want anyone to think I gave up on
                Dad though. I don’t think I’m giving up but I worry about this some. But I believe that Dad’s beliefs
                and mine are pretty similar. I know we have to consider his wishes and quality of life.”
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">5) Imagine a line where the right side is comfort care and the left side is doing
                everything possible for survival. Where do you think your loved one would put themselves on the line
                below?
            </div>
            <div class="panel-body" style="font-style: italic">“I’m leaning toward avoiding prolonged life support and
                invasive procedures like trach and feeding tube. He would never want to be in a nursing home, not even
                temporarily. I still want to talk this choice over with Dad’s doctor and my other siblings.”
            </div>
        </div>
    </div>
    <!--TODO: Choose bar-->
    <a href="{{url_for('page_16')}}">
        <button type="button" class="btn btn-primary btn-lg pull-left" style="margin-bottom: 5%">
            <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous
        </button>
    </a>
    <a href="{{url_for('page_18')}}">
        <button type="button" class="btn btn-primary btn-lg pull-right" style="margin-bottom: 5%">Next
            <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </button>
    </a>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>