<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Goals-of-Care after Traumatic Brain Injury Decision Aid Prototype</title>

    <!--Bootstrap on server-->
    <link href="{{ url_for ('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
    <!--Bootstrap on local-->
    <!--<link href="static/css/bootstrap.min.css" rel="stylesheet">-->
    <!--Bootstrap on CDN-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <!--the head navbar of the website-->
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Brand</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                  <li><a href="#">Link</a></li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">One more separated link</a></li>
                      </ul>
                  </li>
              </ul>
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>

  <!--container of the whole content of the tool-->
  <div class="container">
      <form action="/preview" method="post">
        <h2 class = "text-center">
            Goals-of-Care after Traumatic Brain Injury Decision Aid Prototype
        </h2>
        <br/>
        <div class="">
            <!--the navigation bar-->
            <ul class="nav nav-pills nav-justified">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Overview<br/><br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_1')}}">Welcome</a></li>
                        <li><a href="{{url_for('page_2')}}">Aims & Contents</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mechanical Ventilator<br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_3')}}">What is a mechanical ventilator?</a></li>
                        <li><a href="{{url_for('page_3')}}">What is like to be on a ventilator?</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">What should you decide?<br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_4')}}">What decision am I being asked to make?</a></li>
                        <li><a href="{{url_for('page_4')}}">What is the most important for your loved one right now?</a></li>
                        <li><a href="{{url_for('page_5')}}">What are the different treatment goals for my loved one?</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Patient Outlook<br/><br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_6')}}">What is my loved one's outlook?<br/>What are the long-term effects from the TBI?</a></li>
                        <li><a href="{{url_for('page_7')}}">How certain or uncertain is the outlook for my loved one?</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Treatment Options<br/><br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_8')}}">Introduction</a></li>
                        <li><a href="{{url_for('page_9')}}">What does it mean to have comfort at the goal of care?</a></li>
                        <li><a href="{{url_for('page_10')}}">What is the treatment that focuses on Maxine survival?</a></li>
                        <li><a href="{{url_for('page_11')}}">If I choose survival as the goal of care, what happens with my loved one after they leave the ICU?</a></li>
                        <li><a href="{{url_for('page_12')}}">Comparing and summarizing different treatment options</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Making Decision<br/><br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_13')}}">How do I make this decision?</a></li>
                        <li><a href="{{url_for('page_14')}}">Are you still unsure?</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Patient Examples<br/><br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('page_15')}}">Patient Examples</a></li>
                        <li><a href="{{url_for('page_16')}}">Example 1</a></li>
                        <li><a href="{{url_for('page_17')}}">Example 2</a></li>
                    </ul>
                </li>
                <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Worksheet & Questions<br/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!--TODO: Click the dropdown and open the collaspse-->
                        <li><a href="{{url_for('page_18')}}">1) What do you understand about the outlook of your loved one, and the options?</a></li>
                        <li><a href="{{url_for('page_18')}}">2) What would your loved one want?</a></li>
                        <li><a href="{{url_for('page_18')}}">3) How is this choice making you feel?</a></li>
                        <li><a href="{{url_for('page_18')}}">4) What questions do you need answered before you can decide?</a></li>
                        <li><a href="{{url_for('page_18')}}">5) Comfort or survival</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--the text box to put the main context-->
        <div class="jumbotron">
            <!--button division-->
            <div class="row">
                <a href="{{url_for('page_17')}}">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary pull-left" style="margin-bottom: 5%">
                        <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        </button>
                    </div>
                </a>
                <a href="preview.html">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary pull-right" style="margin-bottom: 5%">
                            <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        </button>
                    </div>
                </a>
            </div>
            <!--the head of this page-->
            <div class="section-head">
                <h3 class="text-center">YOUR OWN WORKSHEET:<br/><br/>HOW TO MAKE A DECISION FOR YOUR LOVED ONE</h3>
            </div>
            <br>
            <div class="alert alert-success text-center">
                Please complete this worksheet as best as you can. Bring it to the meeting with the doctor.
            </div>

            <!--the dropdown box-->
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        1) What do you understand about the outlook of your loved one, and the options?</a>
                      </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                      <div class="panel-body">
                          <div class="form-group"> 
                              <label for="comment1">
                                  What is your loved one’s outlook for getting better and how independent will he/she be with further medical care after the ICU?
                              </label> 
                              <textarea name ="comment1" class="form-control" rows="3" id="comment1"></textarea> 
                          </div>
                           <div class="form-group">
                              <label for="comment2">
                                  Do you understand what your loved one’s life will be like based on the two different treatment goals?
                              </label> 
                              <textarea name = "comment2" class="form-control" rows="3" id="comment2"></textarea>
                           </div> <div class="form-group">
                                <label for="comment3">
                                    Is this quality of life acceptable to your loved one?
                                </label> 
                              <textarea name="comment3" class="form-control" rows="3" id="comment3"></textarea>
                               </div> 
                          <div class="form-group"> 
                              <label for="comment4">
                                  Do you understand the pros and cons of the two treatment goals/choices?
                              </label>
                               <textarea name="comment4" class="form-control" rows="3" id="comment4"></textarea> 
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            2) What would your loved one want?
                        </a>
                      </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                      <div class="panel-body">
                          <div class="form-group"> 
                              <label for="comment5">
                                  What is your loved one’s outlook for getting better and how independent will he/she be with further medical care after the ICU?
                              </label> 
                              <textarea name="comments5" class="form-control" rows="3" id="comment5"></textarea> 
                          </div>
                           <div class="form-group">
                              <label for="comment6">
                                  What are their wishes for medical treatments when illness is severe or possibly leave them disabled? Have they mentioned it to you? Do they have a living will?
                              </label> 
                              <textarea name="comment6" class="form-control" rows="3" id="comment6"></textarea> </div> <div class="form-group">
                                <label for="comment7">
                                    If your loved one could look at the choices right now, what would they choose?
                                </label> 
                              <textarea name="comment7" class="form-control" rows="3" id="comment7"></textarea>
                               </div> 
                          <div class="form-group"> 
                              <label for="comment8">
                                  Do you understand the pros and cons of the two treatment goals/choices?
                              </label>
                               <textarea name="comment8" class="form-control" rows="3" id="comment8"></textarea> 
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            3) How is this choice making you feel?
                        </a>
                      </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                      <div class="panel-body">
                         <textarea name="comment9"class="form-control" rows="3" id="comment9"></textarea> 
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        4) What questions do you need answered before you can decide?</a>
                      </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                      <div class="panel-body">
                          <label for="comment10">
                                Make a list and ask. Bring the list of questions to the meeting with the doctor, too.
                          </label>
                          <textarea name="comment10" class="form-control" rows="6" id="comment10"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                              5) Comfort or survival
                        </a>
                      </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                      <div class="panel-body text-center">
                          Imagine a line where the right side is comfort care and the left side is doing everything possible for survival.
                          <br/>
                          <i>Where do you think your loved one would put themselves on the line below?</i>
                          <!--TODO: the choosing bar in this place-->
                      </div>
                    </div>
                  </div>
                </div>
        </div>

        <!--TODO: Choose bar-->
            <a href="{{url_for('page_17')}}">
            <button type="button" class="btn btn-primary btn-lg pull-left" style="margin-bottom: 5%">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous
            </button>
            </a>
            <input type="submit" class="btn btn-primary btn-lg pull-right" style="margin-bottom: 5%">
                <span class="glyphicon" aria-hidden="true"></span>
            </input>
      </form>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
