<!--the head of HTML file-->
{% include 'head.html' %}
<body>
<!--the head navbar of the website-->
{% include 'admin_navbar.html' %}

<!--the input box of searching-->
{% include 'admin_search.html' %}

<!--container of the table-->
{% include 'admin_result.html' %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>