<!--the head of HTML file-->
{% include 'head.html' %}
<body>
<!--the head navbar of the website-->
{% include 'admin_navbar.html' %}
<div style="text-align: center">
    <a href="{{url_for('admin_listall')}}">
        <button type="button" class="btn btn-primary btn-md">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Return
        </button>
    </a>
    <button type="button" class="btn btn-primary btn-md" onclick="printDiv('printable')">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>Print this report
    </button>
</div>

<div id="printable" class="container">
    <h2 class="text-center">
        Goals-of-Care after Traumatic Brain Injury Decision Aid Prototype
    </h2>
    <br/>

    <!--the text box to put the main context-->
    <div class="jumbotron">
        <!--the head of this page-->
        <div class="section-head"><h3 class="text-center">Final Report
        </h3></div>
        <br>
        <div class="container">
            <ul>
                <div style="list-style-type: none">
                    <li>
                        Start Time: {{session['start']}}
                    </li>
                    <li>
                        End Time: {{session['end']}}
                    </li>
                    <li>
                        E-mail: {{session['email']}}
                    </li>
                </div>
                <hr>
                <div class="panel panel-primary">
                    <div class="panel-heading">1) What is most important for your loved one right now?</div>
                    <div class="panel-body" style="font-style: italic">
                        <ul>
                            {% if (session['ans1'] == '') and (session['ans2'] == '') and (session['ans3'] == '') %}
                            <li><i>No answer submitted</i></li>
                            {% else %}
                            {% if session['ans1'] != '' %}
                            <li><i>{{session['ans1']}}</i></li>
                            {% endif %}
                            {% if session['ans2'] != '' %}
                            <li><i>{{session['ans2']}}</i></li>
                            {% endif %}
                            {% if session['ans3'] != '' %}
                            <li><i>{{session['ans3']}}</i></li>
                            {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">2) What is most important for you right now?</div>
                    <div class="panel-body" style="font-style: italic">
                        <ul>{% if (session['ans4'] == '') and (session['ans5'] == '') and (session['ans6'] == '') %}
                            <li><i>No answer submitted</i></li>
                            {% else %}
                            {% if session['ans4'] != '' %}
                            <li><i>{{session['ans4']}}</i></li>
                            {% endif %}
                            {% if session['ans5'] != '' %}
                            <li><i>{{session['ans5']}}</i></li>
                            {% endif %}
                            {% if session['ans6'] != '' %}
                            <li><i>{{session['ans6']}}</i></li>
                            {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">3) What is your loved one’s outlook for getting better and how
                        independent will he/she be with further medical care after the ICU?
                    </div>
                    <div class="panel-body" style="font-style: italic">{% if session['ans8'] != '' %}
                        <ul>
                            <li><i>{{session['ans8']}}</i></li>
                        </ul>
                        {% else %}
                        <ul>
                            <li><i>No answer submitted</i></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">4) Do you understand what your loved one’s life will be like based on the
                        two different treatment goals?
                    </div>
                    <div class="panel-body" style="font-style: italic">{% if session['ans9'] != '' %}
                        <ul>
                            <li><i>{{session['ans9']}}</i></li>
                        </ul>
                        {% else %}
                        <ul>
                            <li><i>No answer submitted</i></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">5) Is this quality of life acceptable to your loved one?</div>
                    <div class="panel-body" style="font-style: italic"> {% if session['ans10'] != '' %}
                        <ul>
                            <li><i>{{session['ans10']}}</i></li>
                        </ul>
                        {% else %}
                        <ul>
                            <li><i>No answer submitted</i></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">6) Do you understand the pros and cons of the two treatment
                        goals/choices?
                    </div>
                    <div class="panel-body" style="font-style: italic"> {% if session['ans11'] != '' %}
                        <ul>
                            <li><i>{{session['ans11']}}</i></li>
                        </ul>
                        {% else %}
                        <ul>
                            <li><i>No answer submitted</i></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">7) What are their wishes for medical treatments when illness is severe or
                        possibly leave them disabled? Have they mentioned it to you? Do they have a living will?
                    </div>
                    <div class="panel-body" style="font-style: italic"> {% if session['ans12'] != '' %}
                        <ul>
                            <li><i>{{session['ans12']}}</i></li>
                        </ul>
                        {% else %}
                        <ul>
                            <li><i>No answer submitted</i></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">8) If your loved one could look at the choices right now, what would they
                        choose?
                    </div>
                    <div class="panel-body" style="font-style: italic">{% if session['ans13'] != '' %}
                        <ul>
                            <li><i>{{session['ans13']}}</i></li>
                        </ul>
                        {% else %}
                        <ul>
                            <li><i>No answer submitted</i></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">9) How is this choice making you feel?</div>
                    <div class="panel-body" style="font-style: italic">{% if session['ans14'] != '' %}
                        <ul>
                            <li><i>{{session['ans14']}}</i></li>
                        </ul>
                        {% else %}
                        <ul>
                            <li><i>No answer submitted</i></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">10) Make a list and ask. Bring the list of questions to the meeting with
                        the doctor, too.
                    </div>
                    <div class="panel-body" style="font-style: italic">{% if session['ans15'] != '' %}
                        <ul>
                            <li><i>{{session['ans15']}}</i></li>
                        </ul>
                        {% else %}
                        <ul>
                            <li><i>No answer submitted</i></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">11) Where do you think your loved one would put themselves on the line
                        below?
                    </div>
                    <div class="panel-body" style="font-style: italic">
                        <input type="range" name="ans16" min="0" max="100" id="ans16" value={{session['ans16']}}
                               disabled>
                        <h4 class="pull-left">Survival</h4>
                        <h4 class="pull-right">Comfort</h4>
                    </div>
                </div>
                <hr>
            </ul>
        </div>
    </div>
</div>

<!--the dropdown box-->
<script>
    function printDiv(printable) {
        var printContents = document.getElementById(printable).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>
