<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ol>
    <li>
        Navigation bar -- Introduction, Contact Us with no content.
    </li>
    <li>
        Page 4: Only by clicking the next button or the right nav button, the data would be saved.
    </li>
    <li>
        Page 10 and Page 11: Only by clicking the next button, it would check the unread sections.
    </li>
    <li>
        Page 10 and Page 11: The checking mark would disappear when return these pages.
    </li>
    <li>
        Page 14: The radio button won't load default and user input when return this page.
    </li>
    <li>
        Page 18: The user has to click save and review to save the worksheet, heading to other page would cause data lost.
    </li>
    <li>
        Page 18: The user has to input the E-mail address in this page, cannot input anything after submission.
    </li>
    <li>
        Page report: If the user doesn't input the E-mail in worksheet, the sending E-mail won't be shown.
    </li>
</ol>
</body>
</html>