<div style='line-height:20px'><p>Hello, </p>
    <p>This is an auto-generate report from Goals-of-Care after Traumatic Brain Injury Decision Aid Prototype.</p>
    <p>Start Time: {{session['start']}}
    <p>End Time: {{session['end']}}
    <ol>
        <li>What is your loved one's outlook for getting better and how independent will he/she be with further medical
            care after the ICU?
        </li>
        <ul>
            <li>
                {{session['ans8']}}
            </li>
        </ul>
        <li> Do you understand what your loved one's life will be like based on the two different treatment goals?</li>
        <ul>
            <li>
                {{session['ans9']}}
            </li>
        </ul>
        <li>Is this quality of life acceptable to your loved one?</li>
        <ul>
            <li>
                {{session['ans10']}}
            </li>
        </ul>
        <li> Do you understand the pros and cons of the two treatment goals/choices?</li>
        <ul>
            <li>
                {{session['ans11']}}
            </li>
        </ul>
        <li>What are their wishes for medical treatments when illness is severe or possibly leave them disabled? Have
            they mentioned it to you? Do they have a living will?
        </li>
        <ul>
            <li>
                {{session['ans12']}}
            </li>
        </ul>
        <li>If your loved one could look at the choices right now, what would they choose?</li>
        <ul>
            <li>
                {{session['ans13']}}
            </li>
        </ul>
        <li>How is this choice making you feel?</li>
        <ul>
            <li>{{session['ans14']}}</li>
        </ul>
        <li>Make a list and ask. Bring the list of questions to the meeting with the doctor, too.</li>
        <ul>
            <li>
                {{session['ans15']}}
            </li>
        </ul>
        <li> Where do you think your loved one would put themselves on the line below? (Number from 0-100, smaller
            number represents survival, greater number represents comfort)
        </li>
        <ul>
            <li>{{session['ans16']}}
            </li>
        </ul>
    </ol>
</div>