<!DOCTYPE html>
<html lang="en">
<!--the head of HTML file-->
{% include 'sections/head.html' %}
<body>
<!--the head navbar of the website-->
{% include 'sections/navbar.html' %}
<!--container of the whole content of the tool-->
<div class="container">
    <!--page title-->
    <!--{% include 'sections/pagetitle.html' %}-->
    <!--the tabs-->
    {% include 'sections/tab.html' %}
    <!--the text box to put the main context-->
    <div class="jumbotron">
        <!--navigation arrows-->
        {% include 'sections/navbutton.html' %}
        <!--the head of this page-->
        {% include 'pages/'+page|string+'.html' %}
    </div>
    <!--buttom button-->
    {% include 'sections/bottombutton.html' %}
</div>
{% if page != '' %}
<!--<div class="text-center">Version: 3.0 Last Updated: 8/16/2017</div>-->
<div class="text-center">Version: 3.1 Last Updated: 12/13/2017</div>
{% endif %}
<div class="text-center">© 2017 University of Massachusetts and Worcester Polytechnic Institute. All Rights Reserved.
</div>
<br><br>
{% include 'sections/scripts.html' %}
</body>
</html>