<nav class="navbar navbar-default">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <a href="https://www.umassmed.edu/">
              <img src="static/icon/logo-trans.png" class="img-responsive" width="130" height="40">
          </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li><a href="{{url_for('homepage')}}">Home<span class="sr-only">(current)</span></a></li>
              <li><a href="#">Introduction</a></li>
              <li><a href="#">Contact Us</a></li>
          </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>