<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Goals-of-Care after Traumatic Brain Injury Decision Aid Prototype</title>

    <!--Bootstrap on server-->
    <link href="{{ url_for ('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
    <!--Bootstrap on local-->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <!--Bootstrap on CDN-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <!--the head navbar of the website-->
  <div class="container">
        <h2 class = "text-center">
            Goals-of-Care after Traumatic Brain Injury Decision Aid Prototype
        </h2>
        <br/>

        <!--the text box to put the main context-->
        <div class="jumbotron">
            <!--the head of this page-->
            <div class = "section-head"><h3 class="text-center">Final Report
            </h3></div><br>
            <div class="container">
                <ul>
                    <div style="list-style-type: none">
                        <li>
                            Start Time: {{start}}
                        </li>
                        <li>
                            End Time: {{end}}
                        </li>
                        <li>
                            E-mail: {{email}}
                        </li>
                    </div>
                    <hr>
                        <li>What is most important for your loved one right now?</li>
                            <ul>
                                {% if (ans1 == '') and (ans2 == '') and (ans3 == '') %}
                                    <li><i>No answer submitted</i></li>
                                {% else %}
                                    {% if ans1 != '' %}
                                        <li><i>{{ans1}}</i></li>
                                    {% endif %}
                                    {% if ans2 != '' %}
                                        <li><i>{{ans2}}</i></li>
                                    {% endif %}
                                    {% if ans3 != '' %}
                                        <li><i>{{ans3}}</i></li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        <li>What is most important for you right now?</li>
                            <ul>
                                {% if (ans4 == '') and (ans5 == '') and (ans6 == '') %}
                                    <li><i>No answer submitted</i></li>
                                {% else %}
                                    {% if ans4 != '' %}
                                        <li><i>{{ans4}}</i></li>
                                    {% endif %}
                                    {% if ans5 != '' %}
                                        <li><i>{{ans5}}</i></li>
                                    {% endif %}
                                    {% if ans6 != '' %}
                                        <li><i>{{ans6}}</i></li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        <li>What is your loved one’s outlook for getting better and how independent will he/she be with further medical care after the ICU?</li>
                            {% if ans8 != '' %}
                                <ul><li><i>{{ans8}}</i></li></ul>
                            {% else %}
                                <ul><li><i>No answer submitted</i></li></ul>
                            {% endif %}
                        <li>Do you understand what your loved one’s life will be like based on the two different treatment goals?</li>
                            {% if ans9 != '' %}
                                <ul><li><i>{{ans9}}</i></li></ul>
                            {% else %}
                                <ul><li><i>No answer submitted</i></li></ul>
                            {% endif %}
                        <li>Is this quality of life acceptable to your loved one?</li>
                            {% if ans10 != '' %}
                                <ul><li><i>{{ans10}}</i></li></ul>
                            {% else %}
                                <ul><li><i>No answer submitted</i></li></ul>
                            {% endif %}
                        <li>Do you understand the pros and cons of the two treatment goals/choices?</li>
                            {% if ans11 != '' %}
                                <ul><li><i>{{ans11}}</i></li></ul>
                            {% else %}
                                <ul><li><i>No answer submitted</i></li></ul>
                            {% endif %}
                        <li>What are their wishes for medical treatments when illness is severe or possibly leave them disabled? Have they mentioned it to you? Do they have a living will?</li>
                            {% if ans12 != '' %}
                                <ul><li><i>{{ans12}}</i></li></ul>
                            {% else %}
                                <ul><li><i>No answer submitted</i></li></ul>
                            {% endif %}
                        <li>If your loved one could look at the choices right now, what would they choose?</li>
                            {% if ans13 != '' %}
                                <ul><li><i>{{ans13}}</i></li></ul>
                            {% else %}
                                <ul><li><i>No answer submitted</i></li></ul>
                            {% endif %}
                        <li>How is this choice making you feel?</li>
                            {% if ans14 != '' %}
                                <ul><li><i>{{ans14}}</i></li></ul>
                            {% else %}
                                <ul><li><i>No answer submitted</i></li></ul>
                            {% endif %}
                        <li>Make a list and ask. Bring the list of questions to the meeting with the doctor, too.</li>
                            {% if ans15 != '' %}
                                <ul><li><i>{{ans15}}</i></li></ul>
                            {% else %}
                                <ul><li><i>No answer submitted</i></li></ul>
                            {% endif %}
                        <li>Where do you think your loved one would put themselves on the line below?</li>
                </ul>
                <div style="margin-top:10px; padding-top:20px;margin-bottom: 10px; padding-bottom: 50px">
                    <div class = "col-md-1 text-center">
                       <h4>Survival</h4>
                    </div>
                    <div class = "col-md-10"><br>
                      <input type="range" name="ans16" min="0" max="100" id="ans16" value={{ans16}} disabled>
                    </div>
                    <div class = "col-md-1 text-center">
                      <h4>Comfort</h4>
                    </div>
                </div>
                <hr>
            </div>

            <!--the dropdown box-->
        </div>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
