<!--the head of HTML file-->
{% include 'sections/head.html' %}
<body>
<!--the head navbar of the website-->
{% include 'sections/navbar.html' %}
<div style="text-align: center">
    <button type="button" class="btn btn-primary btn-md" onclick="printDiv('printable')">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>Print this report
    </button>
    <a href="{{url_for('page_15')}}">
        <button type="button" class="btn btn-primary btn-md">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit My Report
        </button>
    </a>
</div>

<div id="printable" class="container" style="line-height: 100%">
    <h3 class="text-center">msTBI Decision Aid Tool Report</h3>
    <!--the text box to put the main context-->
    <!--<div class="jumbotron">-->
        <!--the head of this page-->
        {% include 'sections/textreport.html' %}
        <!--the dropdown box-->
    </div>
</div>

<!--the dropdown box-->
<script>
    function printDiv(printable) {
        var printContents = document.getElementById(printable).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>
