<!--the head of HTML file-->
{% include 'include/head.html' %}
 
<body>
<form action="/sqlresult" method="post" id="form_sql">
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <h1>
                SQL Queries Execution Page
            </h1>
            <p>Type raw SQL query</p>
            <input type="text" name="query">
        </div>
    </div>
    <input type="submit" id="submit_sql">
</form>

<!--container of the table-->
<h3>Result:</h3>
{% if result == 'error' %}
<p>SQL Syntax Error</p>
{% else %}
{% for rows in result %}
{{ rows }}
{% endfor %}
{% endif %}

         <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="static/js/bootstrap.min.js"></script>
 
</body>
 
</html>
