<!--the head of HTML file-->
{% include 'sections/head.html' %}
<body>
<!--the head navbar of the website-->
{% include 'sections/navbar.html' %}
<!--container of the whole content of the tool-->
<div class="container">
    <div class="jumbotron">
        <div class="text-center">
            <h3>
                Your worksheet has been saved!
            </h3>
            <h4>
                Your Report ID is
                <h1 class="text-center">
                    <mark>{{session['ref_num']}}</mark>
                </h1>
                <p>You can use this Report ID to retrieve your answer.</p>
                <p>Make sure you remember it or write it down if you want to.</p>
                <br>
            </h4>
            </divtext-center>
            <div class="text-center">
                <p>Please
                    <button type="button" class="btn btn-primary btn-md" onclick="printDiv('printable')">
                        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>Print
                    </button>
                    your work sheet.
                </p>
                <p>It's very IMPROTANT to bring it to the family meeting with the doctor.</p>
            </div>
            {% if session['email'] != '' %}
            <div class="text-center">
                <p>We can
                    <a href="{{ url_for('sendmail') }}">
                        <button type="button" class="btn btn-primary btn-md">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Send
                        </button>
                    </a>the worksheet to <b>{{session['email']}}</b> if you want to.
                </p>
            </div>
            {% endif %}


            {% if session['alertmsg'] %}
            <div style="padding-bottom: 5%">
                <div class="col-md-3"></div>
                <div class="col-md-6 alert alert-info text-center">
                    {{session['alertmsg']}}
                </div>
                <div class="col-md-3"></div>
            </div>
            {% endif %}
        </div>

    </div>
    <a href="{{url_for('homepage')}}">
        <button type="button" class="btn btn-primary btn-lg pull-right" style="margin-bottom: 5%">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Exit
        </button>
    </a>
    <div id="printable" style="display: none;">
        {% include 'printable.html' %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>

    <script>
        function printDiv(printable) {
            var printContents = document.getElementById(printable).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
</div>
</body>
</html>
