<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="utf-8">
     
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     
    <meta name="viewport" content="width=device-width, initial-scale=1">
     
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags --> 
    <title>Goals-of-Care after Traumatic Brain Injury Decision Aid Prototype</title>      <!--Bootstrap on server--> 
    <!--<link href="{{ url_for ('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">-->
         <!--Bootstrap on local-->     <!--<link href="/css/bootstrap.min.css" rel="stylesheet">--> 
    <!--Bootstrap on CDN--> 
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries --> 
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->     <!--[if lt IE 9]> 
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> 
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>     <![endif]--> 
</head>
 
<body>
<form action="/testresult" method="post">
    <h1>
        Testing Page
    </h1>
    <form method="post">
        <input type="text" name="testvar">

        <input type="submit">
    </form>
</form>
<p>Test String:{{test}}</p>
<p>Input sample:{{input}}</p>

<h3>All variables</h3>
<ul>
    <li>Session ID: {{ref_num}}</li>
    <li>User Email: {{email}}</li>
    <li>Start Time: {{start}}</li>
    <li>End Time:   {{end}}</li>
    <li>Logged in:  {{logged}}</li>
    <li>ans1:       {{ans1}}</li>
    <li>ans2:       {{ans2}}</li>
    <li>ans3:       {{ans3}}</li>
    <li>ans4:       {{ans4}}</li>
    <li>ans5:       {{ans5}}</li>
    <li>ans6:       {{ans6}}</li>
    <li>ans7:       {{ans7}}</li>
    <li>ans8:       {{ans8}}</li>
    <li>ans9:       {{ans9}}</li>
    <li>ans10:      {{ans10}}</li>
    <li>ans11:      {{ans11}}</li>
    <li>ans12:      {{ans12}}</li>
    <li>ans13:      {{ans13}}</li>
    <li>ans14:      {{ans14}}</li>
    <li>ans15:      {{ans15}}</li>
    <li>ans16:      {{ans16}}</li>
</ul>

         <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="static/js/bootstrap.min.js"></script>
 
</body>
 
</html>
