<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body onbeforeunload="return leavepage()">
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a onclick="click1()" data-toggle="collapse" data-parent="#accordion" href="#collapse1" id="block3">
                    {% if session['accordion3'] == True %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" id="check3"
                          style="display: none;"></span>
                    {% endif %}
                    Acute Rehabilitation Hospital
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <b>Very few serious TBI patients go here directly.</b> Patients who go here are generally very
                stable and wide awake. They must be able to take part in at least 3 hours of therapy per day for
                5-7 days per week. It is focused on providing intense physical, occupational, and speech
                therapies. Patients who still require a breathing machine, or frequent suctioning through the
                trach, or are too sleepy, cannot go here until they get better. Patients are treated here for
                several weeks.
                <div class="row">
                    <div class="col-md-4">
                        <img src="static/img/speech_therapy.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-4">
                        <img src="static/img/speech_therapy_2.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-4">
                        <img src="static/img/PTon_bars.jpg" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a onclick="click2()" data-toggle="collapse" data-parent="#accordion" href="#collapse2" id="block4">
                    {% if session['accordion4'] == True %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" id="check4"
                          style="display: none;"></span>
                    {% endif %}
                    Long-Term Acute Care Hospital (LTACH)</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                This place is able to provide more complex medical care than an acute rehabilitation hospital.
                <b>Patients are sicker and dependent on help</b>, and for this reason therapy sessions are
                usually fewer and less intense. Those patients who get better can be transferred to an acute
                rehabilitation hospital later.
                <img src="static/img/Vented_pt_Vibra.jpg" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a onclick="click3()" data-toggle="collapse" data-parent="#accordion" href="#collapse3" id="block5">
                    {% if session['accordion5'] == True %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" id="check5"
                          style="display: none;"></span>
                    {% endif %}
                    Skilled Nursing Facility (SNF)</a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                This place is different from a hospital and patients are usually quite stable but need full
                nursing care due to the effects from their injuries. <b>Patients may be here for a long period
                of time, or even the rest of their lives.</b> Patients are too ill to take part in several hours
                of therapy per day. Transition to LTACH or acute rehabilitation hospital is possible, but less
                likely due to the patient’s high level of sickness and dependence on others.
                <div class="row">
                    <div class="col-md-6">
                        <img src="static/img/Trach_Mask_pt_Vibra.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <img src="static/img/Nursing_home.jpg" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="http://www.google.com">Click me to leave</a>
</body>
<script>
    var is_click = [false, false, false];
    function click1() {
        is_click[0] = true
        alert(is_click[0])
    };
    function click2() {
        is_click[1] = true
        alert(is_click[1])
    };
    function click3() {
        is_click[2] = true
        alert(is_click[2])
    };
</script>
<script>
    function leavepage() {
        if (is_click[0] == false || is_click[1] == false || is_click[2] == false) {
            var userselect = confirm("You didn't finish all the sections, are you sure you want to continue?")
            if (userselect == true)
                return true;
            else {
                return false;
            }
        }
    }
</script>

</html>
