{% extends 'layout.html' %}
{% block container %}
    <form action="/testresult" method="post">
        <form method="post">
            <input type="text" name="testvar">

            <input type="submit">
        </form>
    </form>
    <p>{% for rows in result %}
        <ul>
            <li>{{ rows }}</li>
        </ul>
    {% endfor %}
    </p>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Var</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            {% for items in session %}
                <tr>
                    <td>{{ items }}</td>
                    <td>{{ session[items] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}