<div class="row">
    <div class="col-md-6">
        <button type="button" onclick="previous_page()" class="btn btn-primary pull-left" style="margin-bottom: 5%">
        <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-md-6">
        <button type="button" onclick="next_page()" class="btn btn-primary pull-right" style="margin-bottom: 5%">
        <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </button>
    </div>
</div>