<div style='line-height:20px'><p>Hello, </p>
    <p>This is an auto-generate report from Goals-of-Care after Traumatic Brain Injury Decision Aid Prototype.</p>
    <p>Start Time: {{session['start']}}
    <p>End Time: {{session['end']}}
    <ol>
        <li>How do you feel about making a decision?
        </li>
        <ul>
            <li>
                {{session['ans1']}}
            </li>
        </ul>
        <li>What is the "goals of care" decision about?
        </li>
        <ul>
            <li>
                {{session['ans2']}}
            </li>
        </ul>
        <li>Why do you need to make a decision about your family member's goals of care?
        </li>
        <ul>
            <li>
                {{session['ans3']}}
            </li>
        </ul>
        <li> What is important to your loved one?</li>
        <ul>
            <li>
                My family member wants to live as comfortably as possible:
                {% if session['ans4'] == '1' %}
                Not important
                {% elif session['ans4'] == '2' %}
                Important
                {% elif session['ans4'] == '3' %}
                Very important
                {% else %}
                No answer submittted
                {% endif %}
            </li>
            <li>
                My family member wants to live as long as possible, regardless of the quality of life.
                {% if session['ans5'] == '1' %}
                Not important
                {% elif session['ans5'] == '2' %}
                Important
                {% elif session['ans5'] == '3' %}
                Very important
                {% else %}
                No answer submittted
                {% endif %}
            </li>
            <li>
                For my family member a high quality of life is most important.
                {% if session['ans6'] == '1' %}
                Not important
                {% elif session['ans6'] == '2' %}
                Important
                {% elif session['ans6'] == '3' %}
                Very important
                {% else %}
                No answer submittted
                {% endif %}
            </li>
            <li>
                My family member does not want to be dependent on others away from home.
                {% if session['ans7'] == '1' %}
                Not important
                {% elif session['ans7'] == '2' %}
                Important
                {% elif session['ans7'] == '3' %}
                Very important
                {% else %}
                No answer submittted
                {% endif %}
            </li>
            <li>
                My family member would accept a tracheostomy and feeding tube to stay alive.
                {% if session['ans8'] == '1' %}
                Not important
                {% elif session['ans8'] == '2' %}
                Important
                {% elif session['ans8'] == '3' %}
                Very important
                {% else %}
                No answer submittted
                {% endif %}
            </li>
        </ul>

        <li> Where do you think your loved one would put themselves on the line below? (Number from 0-100, smaller
            number represents survival, greater number represents comfort)
        </li>
        <ul>
            <li>{{session['ans9']}}
            </li>
        </ul>
        <li>
             How do you feel about this choice?
        </li>
        <ul>
            <li>
                {{session['ans10']}}
            </li>
        </ul>
    </ol>
</div>